<div class="resultBody first mid-tier platinum tier1" id="t117619655" data-featured-status="mid-tier"
     data-content-type="residential">
    <div class="enhancedWrapper">
        <div class="enhancedHeader agentTextLight" style="background-color: #000000;"><a
                href="/buy/by-qzdhzg/list-1"><img
                src="http://i1.au.reastatic.net/agencylogo/QZDHZG/2/20140509150454.gif" width="160" height="30"
                alt="Coronis Realty Coomera/Helensvale - COOMERA"
                title="view all properties from Coronis Realty Coomera/Helensvale - COOMERA" class="logo"></a>

            <div class="vcard" id="results_117619655"><h2><a href="/property-unit-qld-surfers+paradise-117619655"
                                                             class="name" rel="listingName">301/12 Enderley Avenue,
                Surfers Paradise, Qld...</a></h2></div>
        </div>
        <div class="resultBodyWrapper">
            <div class="photoviewer">
                <div class="carousel image_carousel loaded hasNav">
                    <div class="body">
                        <div class="viewport">
                            <div class="strip" style="width: 4560px;">
                                <div class="frame0 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            src="http://i2.au.reastatic.net/240x180/2646f343c822654d8e1ad3e542f0637ccaaebaf9f19d6b4fa7cc51e8b17c8222/main.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame1 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"
                                            src="http://i3.au.reastatic.net/240x180/a9e2fb7c038029a37b3e17d7c768d91c7d837508cac6d76f0ff35cd9c8c8c1d9/image2.jpg"></a>
                                    </div>
                                </div>
                                <div class="frame2 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i4.au.reastatic.net/240x180/5c6eaa0b82333b43c7c31bdba9a71e35ac2a0af86ade0032d0bf4d70cb15d7fb/image3.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame3 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i1.au.reastatic.net/240x180/5bae45e3c0fa7e94bbd71e97f958db0433ee858f247c25fb27dc50a0f2dcbae9/image4.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame4 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i2.au.reastatic.net/240x180/43ecaa245e7428bba04a2b61c1978f39f88554e625b8d54c37aee959d5040742/image5.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame5 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i3.au.reastatic.net/240x180/4075b1d0abb2eb8a49c56ca0aa92394a73798f249d1fb2a27b2dc08fd370eaf9/image6.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame6 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i4.au.reastatic.net/240x180/22abb3d2d8490a69d235c10a3b10464e91d52eb41ed681c1ea428cd777a20384/image7.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame7 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i1.au.reastatic.net/240x180/ea011ef62f5ec5d09139e61390be7b48c35c0de631f6ac87910a8758b8fb2b78/image8.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame8 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i2.au.reastatic.net/240x180/dd6c3bb77402c4d1419431855fcdeb3497664069e4d5485e2af2cab61f6cfb82/image9.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame9 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i3.au.reastatic.net/240x180/9508af2f5b2d628d3ffd892a46dbe786dc1fb080304bf6b9f6486952bf0c87fa/image10.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame10 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i4.au.reastatic.net/240x180/2e52e028f31e73718d2c811871bb4ab8573884562624129e29a72ff0fd30e766/image11.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame11 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i1.au.reastatic.net/240x180/3f4f554fa55bf76fb1ab1d7ab88d8856ca6efed6fc1de171cde54b5235996e3c/image12.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame12 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i2.au.reastatic.net/240x180/4fd0c6dc169134edd15800c1d2d42181a9c6b4da30573bde0c2fddbc211dd60e/image13.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame13 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i3.au.reastatic.net/240x180/7c69cbff484ba6993b788090ff051fb20aca4697277650bee52abe0e6c96c0fa/image14.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame14 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i4.au.reastatic.net/240x180/dfeda79968ff613e6f1d9acdca6604a35313c6b9ab7581648dd2bec5d85301c5/image15.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame15 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i1.au.reastatic.net/240x180/eca3175b0bfd977bcbbb59e39a4638c6ff76661be11a630e46d9b70db52ec4f7/image16.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame16 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i2.au.reastatic.net/240x180/6ead57b9f4ea5fb215b7999511d18c9f72eb0799b75f5eb3dd39eb1f94ed3a09/image17.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame17 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i3.au.reastatic.net/240x180/95eb3e7e26305bd4c5389fdba87d7ea8866257283484f5b8faa540bfab813842/image18.jpg"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217" width="240"
                                            height="180"></a></div>
                                </div>
                                <div class="frame18 frame">
                                    <div class="media"><a href="/property-unit-qld-surfers+paradise-117619655"><img
                                            data-lazyloadsrc="http://i4.au.reastatic.net/240x180/663299f6f36daefeb530e47c4131363ddfec1790b5de9dfee31419c917c4a997/floorplan1.gif"
                                            alt="301/12 Enderley Avenue, Surfers Paradise, Qld 4217 - floorplan"
                                            title="301/12 Enderley Avenue, Surfers Paradise, Qld 4217 - floorplan"
                                            width="240" height="180"></a></div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="paginationCont">
                            <div class="pagination"><a class="carouselPrev repname_elitePagination repkey_117619655"
                                                       href="#"></a> <a
                                    class="carouselNext repname_elitePagination repkey_117619655" href="#"></a></div>
                        </div>
                    </div>
                    <div class="newIcon"></div>
                </div>
            </div>
            <div class="listingInfo">
                <div class="propertyStats"><p class="price"><span class="priceText">$349,900</span></p></div>
                <div class="clearer"></div>
                <span class="propertyType">Unit</span>
                <ul class="linkList horizontalLinkList propertyFeatures">
                    <li class="first"><img src="http://s1.rea.reastatic.net/rs/img/icons/beds.png$$3000.30-18"
                                           alt="Bedrooms"><span>2</span></li>
                    <li><img src="http://s2.rea.reastatic.net/rs/img/icons/baths.png$$3000.30-18" alt="Bathrooms"><span>2</span>
                    </li>
                    <li><img src="http://s1.rea.reastatic.net/rs/img/icons/parking_spaces.png$$3000.30-18"
                             alt="Car Spaces"><span>1</span></li>
                </ul>
                <h3 class="title">Perched in Paradise!</h3>

                <p class="description">Take one step inside this Surfers Paradise unit and be blown away by the quality
                    and value it presents. With two spacious...</p>

                <p class="listerName">Agent:<span>Simon Finlayson</span></p>
                <ul class="propertyProducts showLinkIcon">
                    <li class="floorplan"><a href="/floorplan_new.ds?id=117619655&amp;theme=rea.buy"
                                             rel="floorplan nofollow" data-id="117619655" onclick="return false;">Floorplan</a>
                    </li>
                </ul>
                <div class="buttons"><a href="/property-unit-qld-surfers+paradise-117619655"
                                        class="detailsButton button"><span>Details</span></a><a href="#"
                                                                                                class="savePlace saveButton button repname_save repkey_117619655"
                                                                                                rel="savePlace"
                                                                                                id="addML_117619655"
                                                                                                data-saved-message="Saved"><span>Save</span></a>
                </div>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
    </div>
</div>