<div style="max-width: 600px">
    <table style="font-family: arial, sans-serif">
        <tr>
            <td width="30%" valign="top">
                <img src="<%= data.logo %>"><br/>
                <span style="font-weight: bold"><%= data.name %></span><br>
                <span style="font-size: 0.9em"><%= data.address %></span><br/>
                Ph: <a href="tel:<%= data.phone %>"><%= data.phone %></a><br/>
                <a href="<%= data.website %>">Website</a>
                  <% if (data.twitter){ %>
                    <a href="<%= data.twitter %>">Twitter</a>
                  <% } %>
                     <% if (data.facebook){ %>
                    <a href="<%= data.facebook %>">Facebook</a>
                  <% } %>
               
            </td>
            <td valign="top">

                <span style="font-size: 0.9em; padding-right: 15px"><%- data.description %></span><br/>
            </td>
        </tr>
    </table>
    <p></p>

    <p></p>
    <table style="font-family: arial, sans-serif" cellpadding="5">
        <% data.listings.forEach(function(listing) { %>
        <tr style="padding-bottom: 20px">
            <td valign="top"><a href="<%= listing.url %>"><img src="<%= listing.img %>" style="width: 150px"></a></td>
            <td valign="top">
                <a href="<%= listing.url %>" style="font-size: 13pt;
font-weight: bold;
color: black;
text-decoration: none;
border-bottom: 1px black dotted;"><%= listing.address %></a><br>
                <span style="font-size: 0.9em; "><span style="font-style: italic"> <%= listing.type %></span>
                  <% if (listing.bedrooms){ %>
                  <img src="http://i.imgur.com/vhLf7d4.png" style="vertical-align: middle"><%= listing.bedrooms %>
                    <% } %>
                       <% if (listing.bathrooms){ %>
                  <img src="http://i.imgur.com/v2byVLZ.png" style="vertical-align: middle"><%= listing.bathrooms %>
                         <% } %>
                       <% if (listing.carports){ %>
               <img src="http://i.imgur.com/zjQhrl0.png" style="vertical-align: middle"> <%= listing.carports %>
                    <% } %>
                    
                </span>
                <br><br>

                <div style="font-weight: bold;"><%= listing.title %></div>
                <span><%= listing.description %></span>

                <br>
                <br>
            </td>
            <td valign="top" style="text-align: right"><%= listing.price %></td>
        </tr>
        <% }) %>
    </table>
</div>





