<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Subscription Successful</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">


    <div class="jumbotron alert-success">
        <h1>Thanks for Subscribing!</h1>
        <p class="lead">You will now receive updates from the newsletter you have just subscribed to.</p>
    </div>

    <div class="footer">
        <p>&copy; Company 2014</p>
    </div>

</div>
</body>
</html>