<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="<%= assets %>img/favicon.png" />

    <meta name="description" content="">

    <!-- CSS -->
    <link href="<%= assets %>css/preload.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/animate.min.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/slidebars.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/lightbox.css" rel="stylesheet" media="screen">
    <link href="<%= assets %>css/jquery.bxslider.css" rel="stylesheet" />
    <link href="<%= assets %>css/syntaxhighlighter/shCore.css" rel="stylesheet"  media="screen">

    <link href="<%= assets %>css/style-blue.css" rel="stylesheet" media="screen" title="default">
    <link href="<%= assets %>css/width-full.css" rel="stylesheet" media="screen" title="default">

    <link href="<%= assets %>css/buttons.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="<%= assets %>js/html5shiv.min.js"></script>
        <script src="<%= assets %>js/respond.min.js"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

