<nav class="<%= navbar_class %>" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a class="<%= navbar_brand_class %>" href="index.html">Artificial <span>Reason</span></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="<%= navbar_nav_class %>">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="index.html">Option 1: Default</a></li>
                        <li><a href="home_services.html">Option 2: Services</a></li>
                        <li><a href="home_full.html">Option 3: Full Intro</a></li>
                        <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                        <li><a href="home_news.html">Option 5: News</a></li>
                        <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                        <li role="presentation" class="dropdown-header">Header Options</li>
                        <li><a href="configurator.html">Configurator<span class="label label-success pull-right">New</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">UI Elements</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">CSS</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="css_typography.html">Typography</a></li>
                                <li><a href="css_headers.html">Headers</a></li>
                                <li><a href="css_dividers.html">Dividers</a></li>
                                <li><a href="css_blockquotes.html">Blockquotes</a></li>
                                <li><a href="css_forms.html">Forms</a></li>
                                <li><a href="css_tables.html">Tables</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Buttons</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="btn_basic_buttons.html">Basic Buttons</a></li>
                                <li><a href="btn_library_buttons.html">Buttons Library</a></li>
                                <li><a href="btn_social_buttons.html">Social Buttons</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Icons</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="icons_artificial_reason.html">Artificial Reason Icons</a></li>
                                <li><a href="icons_glyph.html">Glyphicons Icons</a></li>
                                <li><a href="icons_awesome.html">Font Awesome</a></li>
                                <li><a href="icons_social.html">Social Icons</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Components</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="components_dropdowns.html">Components Dropdowns</a></li>
                                <li><a href="components_panels.html">Panels</a></li>
                                <li><a href="components_lists.html">Lists</a></li>
                                <li><a href="components_paginations.html">Paginations</a></li>
                                <li><a href="components_labels_badges.html">Labels and Badges</a></li>
                                <li><a href="components_alerts_wells.html">Alerts and Wells</a></li>
                                <li><a href="components_thumbnails.html">Thumbnails</a></li>
                                <li><a href="components_modals.html">Modals</a></li>
                                <li><a href="components_progress_bars.html">Progress Bars</a></li>
                                <li><a href="components_tooltip_popover.html">Tooltip & Popover</a></li>
                            </ul>
                        </li>
                        <li><a href="collapses_tabs.html">Collapses & Tabs</a></li>
                        <li><a href="content_box.html">Contents Box</a></li>
                        <li><a href="carousels.html">Carousels</a></li>
                        <li><a href="charts.html">Charts & CountDowns</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">About us & Team</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_about.html">About us Option 1</a></li>
                                <li><a href="page_about2.html">About us Option 2</a></li>
                                <li><a href="page_about3.html">About us & Team</a></li>
                                <li class="divider"></li>                                        <li><a href="page_team.html">Our Team Option 1</a></li>
                                <li><a href="page_team2.html">Our Team Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Form</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_contact.html">Contact Option 1</a></li>
                                <li><a href="page_contact2.html">Contact Option 2</a></li>
                                <li class="divider"></li>                                        <li><a href="page_login.html">Login Integrated</a></li>
                                <li><a href="page_login_full.html">Login Full Page</a></li>
                                <li class="divider"></li>                                        <li><a href="page_login_register.html">Login and Register</a></li>
                                <li><a href="page_register.html">Register Option 1</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Profiles</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_profile.html">User Profile Option 1</a></li>
                                <li><a href="page_profile2.html">User Profile Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Error</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_404.html">Error 404 Full Page</a></li>
                                <li><a href="page_404_2.html">Error 404 Integrated</a></li>
                                <li><a href="page_500.html">Error 500 Full Page</a></li>
                                <li><a href="page_500_2.html">Error 500 Integrated</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Bussiness & Products</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_testimonial.html">Testimonials</a></li>
                                <li><a href="page_clients.html">Our Clients</a></li>
                                <li><a href="page_product.html">Products</a></li>
                                <li><a href="page_services.html">Services</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Pricing</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_pricing.html">Pricing Box</a></li>
                                <li><a href="page_pricing-mega.html">Pricing Mega Table</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">FAQ & Support</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_support.html">Support Center</a></li>
                                <li><a href="page_faq.html">FAQ Option 1</a></li>
                                <li><a href="page_faq2.html">FAQ Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_coming.html">Coming Soon Option 1</a></li>
                                <li><a href="page_coming2.html">Coming Soon Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                                <a href="javascript:void(0);" class="has_children">Timeline</a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page_timeline_left.html">Timeline Left</a></li>
                                <li><a href="page_timeline.html">Timeline Center</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="blog.html">Blog Right Sidebar</a></li>
                        <li><a href="blog_left.html">Blog Left Sidebar</a></li>
                        <li><a href="blog_full.html">Blog Full</a></li>
                        <li><a href="blog2.html">Other Option</a></li>
                        <li class="divider"></li>
                        <li><a href="single.html">Blog Item</a></li>
                        <li><a href="single_full.html">Blog Item Full</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">E-commerce</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="e-commerce_home.html">E-commerce Home</a></li>
                        <li><a href="e-commerce.html">E-commerce Filters</a></li>
                        <li><a href="e-commerce_product.html">Product</a></li>
                        <li><a href="e-commerce_cart.html">Cart</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                     <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="portfolio_sidebar.html">Portfolio sidebar filters</a></li>
                        <li><a href="portfolio_topbar.html">Portfolio topbar filters</a></li>
                        <li><a href="portfolio_caption_hover.html">Portfolio with captions</a></li>
                        <li class="divider"></li>
                        <li><a href="portfolio_item.html">Portfolio item</a></li>
                        <li><a href="portfolio_item_devices.html">Portfolio item device</a></li>
                    </ul>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>