<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Social Buttons</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Buttons</a></li>
            <li class="active">Social Buttons</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-btn"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse in">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li class="active"><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="alert alert-success alert-border">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-flag"></i> These are buttons. If you need icon, look in the <a href="icons_social.html">section of social icons</a>.
            </div>

            <section class="css-section">
                <h2 class="section-title no-margin-top">Social Icons</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Basic Social Buttons</h3>
                        <a href="#" class="btn-social rss"><i class="fa fa-rss"></i>RSS</a>
                        <a href="#" class="btn-social facebook"><i class="fa fa-facebook"></i>Facebook</a>
                        <a href="#" class="btn-social twitter"><i class="fa fa-twitter"></i>Twitter</a>
                        <a href="#" class="btn-social pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
                        <a href="#" class="btn-social instagram"><i class="fa fa-instagram"></i>Instagram</a>
                        <a href="#" class="btn-social youtube"><i class="fa fa-youtube"></i>Youtube</a>
                        <a href="#" class="btn-social git"><i class="fa fa-git"></i>Git</a>
                        <a href="#" class="btn-social git"><i class="fa fa-github"></i>Github</a>
                        <a href="#" class="btn-social git"><i class="fa fa-github-alt"></i>Github</a>
                        <a href="#" class="btn-social google-plus"><i class="fa fa-google-plus"></i>Google+</a>
                        <a href="#" class="btn-social wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
                        <a href="#" class="btn-social linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
                        <a href="#" class="btn-social flickr"><i class="fa fa-flickr"></i>Flickr</a>
                        <a href="#" class="btn-social vine"><i class="fa fa-vine"></i>Vine</a>
                        <a href="#" class="btn-social dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
                        <a href="#" class="btn-social stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
                        <a href="#" class="btn-social foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
                        <a href="#" class="btn-social tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
                    </div>
                    <div class="col-md-6">
                        <h3>Solid Social Buttons</h3>
                        <a href="#" class="btn-social solid rss"><i class="fa fa-rss"></i>RSS</a>
                        <a href="#" class="btn-social solid facebook"><i class="fa fa-facebook"></i>Facebook</a>
                        <a href="#" class="btn-social solid twitter"><i class="fa fa-twitter"></i>Twitter</a>
                        <a href="#" class="btn-social solid pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
                        <a href="#" class="btn-social solid instagram"><i class="fa fa-instagram"></i>Instagram</a>
                        <a href="#" class="btn-social solid youtube"><i class="fa fa-youtube"></i>Youtube</a>
                        <a href="#" class="btn-social solid git"><i class="fa fa-git"></i>Git</a>
                        <a href="#" class="btn-social solid git"><i class="fa fa-github"></i>Github</a>
                        <a href="#" class="btn-social solid git"><i class="fa fa-github-alt"></i>Github</a>
                        <a href="#" class="btn-social solid google-plus"><i class="fa fa-google-plus"></i>Google+</a>
                        <a href="#" class="btn-social solid wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
                        <a href="#" class="btn-social solid linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
                        <a href="#" class="btn-social solid flickr"><i class="fa fa-flickr"></i>Flickr</a>
                        <a href="#" class="btn-social solid vine"><i class="fa fa-vine"></i>Vine</a>
                        <a href="#" class="btn-social solid dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
                        <a href="#" class="btn-social solid stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
                        <a href="#" class="btn-social solid foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
                        <a href="#" class="btn-social solid tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Basic Social Buttons -->
<a href="#" class="btn-social rss"><i class="fa fa-rss"></i>RSS</a>
<a href="#" class="btn-social facebook"><i class="fa fa-facebook"></i>Facebook</a>
<a href="#" class="btn-social twitter"><i class="fa fa-twitter"></i>Twitter</a>
<a href="#" class="btn-social pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
<a href="#" class="btn-social instagram"><i class="fa fa-instagram"></i>Instagram</a>
<a href="#" class="btn-social youtube"><i class="fa fa-youtube"></i>Youtube</a>
<a href="#" class="btn-social git"><i class="fa fa-git"></i>Git</a>
<a href="#" class="btn-social git"><i class="fa fa-github"></i>Github</a>
<a href="#" class="btn-social git"><i class="fa fa-github-alt"></i>Github</a>
<a href="#" class="btn-social google-plus"><i class="fa fa-google-plus"></i>Google+</a>
<a href="#" class="btn-social wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
<a href="#" class="btn-social linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
<a href="#" class="btn-social flickr"><i class="fa fa-flickr"></i>Flickr</a>
<a href="#" class="btn-social vine"><i class="fa fa-vine"></i>Vine</a>
<a href="#" class="btn-social dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
<a href="#" class="btn-social stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
<a href="#" class="btn-social foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
<a href="#" class="btn-social tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
<!-- Solid Social Buttons -->
<a href="#" class="btn-social solid rss"><i class="fa fa-rss"></i>RSS</a>
<a href="#" class="btn-social solid facebook"><i class="fa fa-facebook"></i>Facebook</a>
<a href="#" class="btn-social solid twitter"><i class="fa fa-twitter"></i>Twitter</a>
<a href="#" class="btn-social solid pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
<a href="#" class="btn-social solid instagram"><i class="fa fa-instagram"></i>Instagram</a>
<a href="#" class="btn-social solid youtube"><i class="fa fa-youtube"></i>Youtube</a>
<a href="#" class="btn-social solid git"><i class="fa fa-git"></i>Git</a>
<a href="#" class="btn-social solid git"><i class="fa fa-github"></i>Github</a>
<a href="#" class="btn-social solid git"><i class="fa fa-github-alt"></i>Github</a>
<a href="#" class="btn-social solid google-plus"><i class="fa fa-google-plus"></i>Google+</a>
<a href="#" class="btn-social solid wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
<a href="#" class="btn-social solid linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
<a href="#" class="btn-social solid flickr"><i class="fa fa-flickr"></i>Flickr</a>
<a href="#" class="btn-social solid vine"><i class="fa fa-vine"></i>Vine</a>
<a href="#" class="btn-social solid dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
<a href="#" class="btn-social solid stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
<a href="#" class="btn-social solid foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
<a href="#" class="btn-social solid tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-6">
                        <h3>Small Buttons</h3>
                        <a href="#" class="btn-social sm rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn-social sm youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="btn-social sm git"><i class="fa fa-git"></i></a>
                        <a href="#" class="btn-social sm git"><i class="fa fa-github"></i></a>
                        <a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i></a>
                        <br>
                        <a href="#" class="btn-social sm google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn-social sm wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="btn-social sm flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="btn-social sm vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="btn-social sm dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="btn-social sm stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="btn-social sm foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="btn-social sm tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                    <div class="col-md-6">
                        <h3>Small Solid Buttons</h3>
                        <a href="#" class="btn-social solid sm rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="btn-social solid sm facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn-social solid sm twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn-social solid sm pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="btn-social solid sm instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="btn-social solid sm youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="btn-social solid sm git"><i class="fa fa-git"></i></a>
                        <a href="#" class="btn-social solid sm git"><i class="fa fa-github"></i></a>
                        <a href="#" class="btn-social solid sm git"><i class="fa fa-github-alt"></i></a>
                        <br>
                        <a href="#" class="btn-social solid sm google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn-social solid sm wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="btn-social solid sm linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="btn-social solid sm flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="btn-social solid sm vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="btn-social solid sm dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="btn-social solid sm stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="btn-social solid sm foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="btn-social solid sm tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Small Buttons -->
<a href="#" class="btn-social sm rss"><i class="fa fa-rss"></i>RSS</a>
<a href="#" class="btn-social sm facebook"><i class="fa fa-facebook"></i>Facebook</a>
<a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i>Twitter</a>
<a href="#" class="btn-social sm pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
<a href="#" class="btn-social sm instagram"><i class="fa fa-instagram"></i>Instagram</a>
<a href="#" class="btn-social sm youtube"><i class="fa fa-youtube"></i>Youtube</a>
<a href="#" class="btn-social sm git"><i class="fa fa-git"></i>Git</a>
<a href="#" class="btn-social sm git"><i class="fa fa-github"></i>Github</a>
<a href="#" class="btn-social sm git"><i class="fa fa-github-alt"></i>Github</a>
<a href="#" class="btn-social sm google-plus"><i class="fa fa-google-plus"></i>Google+</a>
<a href="#" class="btn-social sm wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
<a href="#" class="btn-social sm linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
<a href="#" class="btn-social sm flickr"><i class="fa fa-flickr"></i>Flickr</a>
<a href="#" class="btn-social sm vine"><i class="fa fa-vine"></i>Vine</a>
<a href="#" class="btn-social sm dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
<a href="#" class="btn-social sm stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
<a href="#" class="btn-social sm foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
<a href="#" class="btn-social sm tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
<!-- Small Solid Buttons -->
<a href="#" class="btn-social sm solid rss"><i class="fa fa-rss"></i>RSS</a>
<a href="#" class="btn-social sm solid facebook"><i class="fa fa-facebook"></i>Facebook</a>
<a href="#" class="btn-social sm solid twitter"><i class="fa fa-twitter"></i>Twitter</a>
<a href="#" class="btn-social sm solid pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
<a href="#" class="btn-social sm solid instagram"><i class="fa fa-instagram"></i>Instagram</a>
<a href="#" class="btn-social sm solid youtube"><i class="fa fa-youtube"></i>Youtube</a>
<a href="#" class="btn-social sm solid git"><i class="fa fa-git"></i>Git</a>
<a href="#" class="btn-social sm solid git"><i class="fa fa-github"></i>Github</a>
<a href="#" class="btn-social sm solid git"><i class="fa fa-github-alt"></i>Github</a>
<a href="#" class="btn-social sm solid google-plus"><i class="fa fa-google-plus"></i>Google+</a>
<a href="#" class="btn-social sm solid wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
<a href="#" class="btn-social sm solid linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
<a href="#" class="btn-social sm solid flickr"><i class="fa fa-flickr"></i>Flickr</a>
<a href="#" class="btn-social sm solid vine"><i class="fa fa-vine"></i>Vine</a>
<a href="#" class="btn-social sm solid dribbble"><i class="fa fa-dribbble"></i>Dribble</a>
<a href="#" class="btn-social sm solid stack-overflow"><i class="fa fa-stack-overflow"></i>Stack Overflow</a>
<a href="#" class="btn-social sm solid foursquare"><i class="fa fa-foursquare"></i>Foursquare</a>
<a href="#" class="btn-social sm solid tumblr"><i class="fa fa-tumblr"></i>Tumlr</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Size Buttons</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <a href="#" class="btn-social solid sm facebook"><i class="fa fa-facebook"></i></a>
                        <br>
                        <a href="#" class="btn-social solid facebook"><i class="fa fa-facebook"></i> Facebook</a>
                        <br>
                        <a href="#" class="btn-social solid lg facebook"><i class="fa fa-facebook"></i> Facebook</a>
                        <br>
                        <a href="#" class="btn-social solid xl-lg facebook"><i class="fa fa-facebook"></i> Facebook</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
                        <br>
                        <a href="#" class="btn-social twitter"><i class="fa fa-twitter"></i> Twitter</a>
                        <br>
                        <a href="#" class="btn-social lg twitter"><i class="fa fa-twitter"></i> Twitter</a>
                        <br>
                        <a href="#" class="btn-social xl-lg twitter"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="btn-social solid sm facebook"><i class="fa fa-facebook"></i></a>
<a href="#" class="btn-social solid facebook"><i class="fa fa-facebook"></i> Facebook</a>
<a href="#" class="btn-social solid lg facebook"><i class="fa fa-facebook"></i> Facebook</a>
<a href="#" class="btn-social solid xl-lg facebook"><i class="fa fa-facebook"></i> Facebook</a>
<a href="#" class="btn-social sm twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="btn-social twitter"><i class="fa fa-twitter"></i> Twitter</a>
<a href="#" class="btn-social lg twitter"><i class="fa fa-twitter"></i> Twitter</a>
<a href="#" class="btn-social xl-lg twitter"><i class="fa fa-twitter"></i> Twitter</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <h2 class="section-title">Round Buttons</h2>

            <div class="row">
                    <div class="col-lg-6">
                        <a href="#" class="btn-social round sm rss"><i class="fa fa-rss"></i></a>
                        <br>
                        <a href="#" class="btn-social round rss"><i class="fa fa-rss"></i> RSS</a>
                        <br>
                        <a href="#" class="btn-social round lg rss"><i class="fa fa-rss"></i> RSS</a>
                        <br>
                        <a href="#" class="btn-social round xl-lg rss"><i class="fa fa-rss"></i> RSS</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" class="btn-social round solid sm google-plus"><i class="fa fa-google-plus"></i></a>
                        <br>
                        <a href="#" class="btn-social round solid google-plus"><i class="fa fa-google-plus"></i> Google+</a>
                        <br>
                        <a href="#" class="btn-social round solid lg google-plus"><i class="fa fa-google-plus"></i> Google+</a>
                        <br>
                        <a href="#" class="btn-social round solid xl-lg google-plus"><i class="fa fa-google-plus"></i> Google+</a>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="btn-social round sm rss"><i class="fa fa-rss"></i></a>
<a href="#" class="btn-social round rss"><i class="fa fa-rss"></i> RSS</a>
<a href="#" class="btn-social round lg rss"><i class="fa fa-rss"></i> RSS</a>
<a href="#" class="btn-social round xl-lg rss"><i class="fa fa-rss"></i> RSS</a>
<a href="#" class="btn-social round solid sm google-plus"><i class="fa fa-google-plus"></i></a>
<a href="#" class="btn-social round solid google-plus"><i class="fa fa-google-plus"></i> Google+</a>
<a href="#" class="btn-social round solid lg google-plus"><i class="fa fa-google-plus"></i> Google+</a>
<a href="#" class="btn-social round solid xl-lg google-plus"><i class="fa fa-google-plus"></i> Google+</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
