<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Basic Buttons</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Buttons</a></li>
            <li class="active">Basic Buttons</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-btn"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse in">
                        <li class="active"><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Artificial Reason Buttons</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-default">Default Button</button></td>
                            <td><code>.btn .btn-ar .btn-default</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-primary">Primary Button</button></td>
                            <td><code>.btn .btn-ar .btn-primary</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-success">Success Button</button></td>
                            <td><code>.btn .btn-ar .btn-success</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-info">Info Button</button></td>
                            <td><code>.btn .btn-ar .btn-info</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-warning">Warning Button</button></td>
                            <td><code>.btn .btn-ar .btn-warning</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-danger">Danger Button</button></td>
                            <td><code>.btn .btn-ar .btn-danger</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-ar btn-royal">Royal Button</button></td>
                            <td><code>.btn .btn-ar .btn-royal</code></td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="section-title">Artificial Reason Size Buttons</h2>
                <h3>Small Size</h3>
                <button type="button" class="btn btn-ar btn-sm btn-default">Default</button>
                <button type="button" class="btn btn-ar btn-sm btn-primary">Primary</button>
                <button type="button" class="btn btn-ar btn-sm btn-success">Success</button>
                <button type="button" class="btn btn-ar btn-sm btn-info">Info</button>
                <button type="button" class="btn btn-ar btn-sm btn-warning">Warning</button>
                <button type="button" class="btn btn-ar btn-sm btn-danger">Danger</button>
                <button type="button" class="btn btn-ar btn-sm btn-royal">Royal</button>
                <h3>Normal Size</h3>
                <button type="button" class="btn btn-ar btn-default">Default</button>
                <button type="button" class="btn btn-ar btn-primary">Primary</button>
                <button type="button" class="btn btn-ar btn-success">Success</button>
                <button type="button" class="btn btn-ar btn-info">Info</button>
                <button type="button" class="btn btn-ar btn-warning">Warning</button>
                <button type="button" class="btn btn-ar btn-danger">Danger</button>
                <button type="button" class="btn btn-ar btn-royal">Royal</button>
                <h3>Large Size</h3>
                <button type="button" class="btn btn-ar btn-lg btn-default">Default</button>
                <button type="button" class="btn btn-ar btn-lg btn-primary">Primary</button>
                <button type="button" class="btn btn-ar btn-lg btn-success">Success</button>
                <button type="button" class="btn btn-ar btn-lg btn-info">Info</button>
                <button type="button" class="btn btn-ar btn-lg btn-warning">Warning</button>
                <button type="button" class="btn btn-ar btn-lg btn-danger">Danger</button>
                <button type="button" class="btn btn-ar btn-lg btn-royal">Royal</button>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<button type="button" class="btn btn-ar btn-sm btn-default">Default</button>
<button type="button" class="btn btn-ar btn-default">Default</button>
<button type="button" class="btn btn-ar btn-lg btn-default">Default</button>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h2 class="section-title">Block Buttons</h2>
                <button type="button" class="btn btn-block btn-ar btn-default">Default</button>
                <button type="button" class="btn btn-block btn-ar btn-primary">Primary</button>
                <button type="button" class="btn btn-block btn-ar btn-success">Success</button>
                <button type="button" class="btn btn-block btn-ar btn-info">Info</button>
                <button type="button" class="btn btn-block btn-ar btn-warning">Warning</button>
                <button type="button" class="btn btn-block btn-ar btn-danger">Danger</button>
                <button type="button" class="btn btn-block btn-ar btn-royal">Royal</button>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<button type="button" class="btn btn-block btn-ar btn-default">Default</button>
<button type="button" class="btn btn-block btn-ar btn-primary">Primary</button>
<button type="button" class="btn btn-block btn-ar btn-success">Success</button>
<button type="button" class="btn btn-block btn-ar btn-info">Info</button>
<button type="button" class="btn btn-block btn-ar btn-warning">Warning</button>
<button type="button" class="btn btn-block btn-ar btn-danger">Danger</button>
<button type="button" class="btn btn-block btn-ar btn-royal">Royal</button>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h2 class="section-title">Bootstrap Buttons</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><button type="button" class="btn btn-default">Default</button></td>
                            <td><code>.btn .btn-default</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary">Primary</button></td>
                            <td><code>.btn .btn-primary</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-success">Success</button></td>
                            <td><code>.btn .btn-success</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-info">Info</button></td>
                            <td><code>.btn .btn-info</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-warning">Warning</button></td>
                            <td><code>.btn .btn-warning</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-danger">Danger</button></td>
                            <td><code>.btn .btn-danger</code></td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-link">Link</button></td>
                            <td><code>.btn .btn-link</code></td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="section-title">Bootstrap Size Buttons</h2>
                <h3>Small Size</h3>
                <button type="button" class="btn btn-sm btn-default">Default</button>
                <button type="button" class="btn btn-sm btn-primary">Primary</button>
                <button type="button" class="btn btn-sm btn-success">Success</button>
                <button type="button" class="btn btn-sm btn-info">Info</button>
                <button type="button" class="btn btn-sm btn-warning">Warning</button>
                <button type="button" class="btn btn-sm btn-danger">Danger</button>
                <button type="button" class="btn btn-sm btn-link">Link</button>
                <h3>Normal Size</h3>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-link">Link</button>
                <h3>Large Size</h3>
                <button type="button" class="btn btn-lg btn-default">Default</button>
                <button type="button" class="btn btn-lg btn-primary">Primary</button>
                <button type="button" class="btn btn-lg btn-success">Success</button>
                <button type="button" class="btn btn-lg btn-info">Info</button>
                <button type="button" class="btn btn-lg btn-warning">Warning</button>
                <button type="button" class="btn btn-lg btn-danger">Danger</button>
                <button type="button" class="btn btn-lg btn-link">Link</button>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
