<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Buttons Library</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Buttons</a></li>
            <li class="active">Buttons Library</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-btn"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse in">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li class="active"><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
                <div class="alert alert-info alert-border">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-warning"></i> You can see the original project and easily customize these buttons! Visit the original project to find out how: <a href="http://alexwolfe.github.io/Buttons/">http://alexwolfe.github.io/Buttons/</a>
                </div>

                <section class="css-section">
                <h2 class="section-title no-margin-top">Flat Buttons</h2>


                <a href="#" class="button button-rounded button-flat">press me</a>
                <a href="#" class="button button-rounded button-flat-primary">press me</a>
                <a href="#" class="button button-rounded button-flat-action">press me</a>
                <a href="#" class="button button-rounded button-flat-highlight">press me</a>
                <a href="#" class="button button-rounded button-flat-caution">press me</a>
                <a href="#" class="button button-rounded button-flat-royal">press me</a>
                <hr class="dashed">
                <a href="#" class="button button-pill button-flat">press me</a>
                <a href="#" class="button button-pill button-flat-primary">press me</a>
                <a href="#" class="button button-pill button-flat-action">press me</a>
                <a href="#" class="button button-pill button-flat-highlight">press me</a>
                <a href="#" class="button button-pill button-flat-caution">press me</a>
                <a href="#" class="button button-pill button-flat-royal">press me</a>
                <hr class="dashed">
                <a href="#" class="button button-flat">press me</a>
                <a href="#" class="button button-flat-primary">press me</a>
                <a href="#" class="button button-flat-action">press me</a>
                <a href="#" class="button button-flat-highlight">press me</a>
                <a href="#" class="button button-flat-caution">press me</a>
                <a href="#" class="button button-flat-royal">press me</a>
                <hr class="dashed">
                <a href="#" class="button button-circle button-flat">press me</a>
                <a href="#" class="button button-circle button-flat-primary">press me</a>
                <a href="#" class="button button-circle button-flat-action">press me</a>
                <a href="#" class="button button-circle button-flat-highlight">press me</a>
                <a href="#" class="button button-circle button-flat-caution">press me</a>
                <a href="#" class="button button-circle button-flat-royal">press me</a>
                </section>


                <section id="glow" class="showcase" data-type="build" data-name="glow">
                <h2 class="section-title">Glow Buttons</h2>

                <section class="css-section">
                <a href="#" class="button glow ">press me</a>
                <a href="#" class="button glow button-primary">press me</a>
                <a href="#" class="button glow button-action">press me</a>
                <a href="#" class="button glow button-highlight">press me</a>
                <a href="#" class="button glow button-caution">press me</a>
                <a href="#" class="button glow button-royal">press me</a>
                </section>

                <section id="rounded" class="showcase" data-type="build" data-name="rounded">
                <h2 class="section-title">Rounded Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-rounded">press me</a>
                <a href="#" class="button button-rounded button-primary">press me</a>
                <a href="#" class="button button-rounded button-action">press me</a>
                <a href="#" class="button button-rounded button-highlight">press me</a>
                <a href="#" class="button button-rounded button-caution">press me</a>
                <a href="#" class="button button-rounded button-royal">press me</a>
                </section>

                <section id="3d" class="showcase" data-type="build" data-name="3d">
                <h2 class="section-title">3D Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-3d">press me</a>
                <a href="#" class="button button-3d-primary button-rounded">press me</a>
                <a href="#" class="button button-3d-action button-pill">press me</a>
                <a href="#" class="button button-3d-highlight button-circle">press me</a>
                <a href="#" class="button button-3d-caution"><i class="fa fa-camera"></i> press me</a>
                <a href="#" class="button button-3d-royal button-rounded">press me</a>
                </section>

                <section id="border" class="showcase" data-type="build" data-name="border">
                <h2 class="section-title">Border Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-border">press me</a>
                <a href="#" class="button button-border-primary button-rounded">press me</a>
                <a href="#" class="button button-border-action button-pill">press me</a>
                <a href="#" class="button button-border-highlight button-circle">press me</a>
                <a href="#" class="button button-border-caution"><i class="fa fa-camera"></i> press me</a>
                <a href="#" class="button button-border-royal button-pill">press me</a>
                </section>

                <section id="pill" class="showcase" data-type="build" data-name="pill">
                <h2 class="section-title">Pill Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-pill">press me</a>
                <a href="#" class="button button-pill button-primary">press me</a>
                <a href="#" class="button button-pill button-action">press me</a>
                <a href="#" class="button button-pill button-highlight">press me</a>
                <a href="#" class="button button-pill button-caution">press me</a>
                <a href="#" class="button button-pill button-royal">press me</a>
                </section>

                <section id="circle" class="showcase" data-type="build" data-name="circle">
                <h2 class="section-title">Circle Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-circle ">press me</a>
                <a href="#" class="button button-circle button-primary">press me</a>
                <a href="#" class="button button-circle button-action">press me</a>
                <a href="#" class="button button-circle button-highlight">press me</a>
                <a href="#" class="button button-circle button-caution">press me</a>
                <a href="#" class="button button-circle button-royal">press me</a>
                </section>

                <section id="dropdown" class="showcase" data-type="build" data-name="dropdown">
                <h2 class="section-title">Dropdown Buttons</h2>

                <section class="css-section">
                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-rounded"> press me <i class="fa fa-caret-down"></i></a>

                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>

                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-rounded button-flat-primary"> press me <i class="fa fa-caret-down"></i></a>

                    <ul class="button-dropdown-menu-below">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>

                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-rounded button-flat-action"> press me <i class="fa fa-caret-down"></i></a>

                    <ul class="button-dropdown-menu-above">
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>

                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-highlight button-rounded">
                        press me <i class="fa fa-caret-down"></i>
                    </a>

                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>

                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-caution button-pill"> press me <i class="fa fa-caret-down"></i></a>

                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>

                <span class="button-dropdown" data-buttons="dropdown">
                    <a href="#" class="button button-royal button-rounded">
                        <i class="fa fa-envelope"></i> press me <i class="fa fa-caret-down"></i>
                    </a>

                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li class="button-dropdown-divider"><a href="#">Option 3</a></li>
                    </ul>
                </span>
                </section>

                <section id="icon" class="showcase" data-type="example" data-name="icon">
                <h2 class="section-title">Icon Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-rounded button-flat"><i class="fa fa-github"></i> press me</a>
                <a href="#" class="button button-rounded button-flat-primary"><i class="fa fa-refresh"></i> press me</a>
                <a href="#" class="button button-rounded button-flat-action"><i class="fa fa-cloud"></i> press me</a>
                <a href="#" class="button button-rounded button-flat-highlight"><i class="fa fa-camera"></i> press me</a>
                <a href="#" class="button button-rounded button-flat-caution"><i class="fa fa-code"></i> press me</a>
                <a href="#" class="button button-rounded button-flat-royal"><i class="fa fa-envelope"></i> press me</a>
                </section>

                <section id="square" class="showcase" data-type="example" data-name="square">
                <h2 class="section-title">Square Buttons</h2>

                <section class="css-section">
                <a href="#" class="button">press me</a>
                <a href="#" class="button button-primary">press me</a>
                <a href="#" class="button button-action">press me</a>
                <a href="#" class="button button-highlight">press me</a>
                <a href="#" class="button button-caution">press me</a>
                <a href="#" class="button button-royal">press me</a>
                </section>

                <section id="block" class="showcase" data-type="example" data-name="block">
                <h2 class="section-title">Block Buttons</h2>

                <section class="css-section">
                <a href="#" class="button button-block button-rounded button-large">press me</a>
                <br/>
                <a href="#" class="button button-block button-rounded button-primary button-large">press me</a>
                <br/>
                <a href="#" class="button button-block button-rounded button-action button-large">press me</a>
                <br/>
                <a href="#" class="button button-block button-rounded button-highlight button-large">press me</a>
                <br/>
                <a href="#" class="button button-block button-rounded button-caution button-large">press me</a>
                <br/>
                <a href="#" class="button button-block button-rounded button-royal button-large">press me</a>
                </section>

                <section id="sizes" class="showcase" data-type="example" data-name="sizes">
                <h2 class="section-title">Button Sizes</h2>

                <section class="css-section">
                <a href="#" class="button button-rounded button-flat-primary button-jumbo">press me</a>
                <a href="#" class="button button-rounded button-flat-primary button-large">press me</a>
                <a href="#" class="button button-rounded button-flat-primary">press me</a>
                <a href="#" class="button button-rounded button-flat-primary button-small">press me</a>
                <a href="#" class="button button-rounded button-flat-primary button-tiny">press me</a>
                </section>

                <section id="wrappers" class="showcase" data-type="example" data-name="wrappers">
                <h2 class="section-title">Button Wrappers</h2>

                <section class="css-section">
                <span class="button-wrap"><a href="#" class="button button-circle">press me</a></span>
                <span class="button-wrap"><a href="#" class="button button-circle button-primary">press me</a></span>
                <span class="button-wrap"><a href="#" class="button button-pill ">press me</a></span>
                <span class="button-wrap"><a href="#" class="button button-pill button-primary">press me</a></span>
                </section>




            <section class="css-section">
                <h2 class="section-title">Button Form Elements</h2>
                <input type="submit" value="press me" class="button button-pill button-primary"/>
                <button class="button button-pill button-primary">press me</button>
                <input  disabled type="submit"  value="press me" class="button button-pill button-primary"/>
                <button disabled class="button  button-pill button-primary">press me</button>
                <button disabled class="button button-pill button-flat-primary">press me</button>
                <a href="#" class="button disabled button-pill button-primary ">press me</a>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
