<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Carousels</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li class="active">Carousels</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse in">
                        <li class="active"><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li class="active"><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Carousels</h2>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Basic carousel whith caption</h3>
                        <p>Carousel perfect for passing images. Optionally you can add a title and a description.</p>
                        <p>It is fully responsive and adaptable to all screen sizes and devices.</p>
                        <p>It is made with the original Carousel of Bootstrap, so you will not have to learn anything new.</p>
                    </div>
                    <div class="col-md-8">
                        <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                                <li data-target="#carousel-example-captions" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                <img src="<%= assets %>img/demo/w2.jpg" alt="First slide image">
                                <div class="carousel-caption animated fadeInUpBig">
                                    <h3>First slide label</h3>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                                </div>
                                <div class="item">
                                <img src="<%= assets %>img/demo/w3.jpg" alt="Second slide image">
                                <div class="carousel-caption animated fadeInUpBig">
                                    <h3>Second slide label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                </div>
                                <div class="item">
                                <img src="<%= assets %>img/demo/w10.jpg" alt="Third slide image">
                                <div class="carousel-caption animated fadeInUpBig">
                                    <h3>Third slide label</h3>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-captions" data-slide-to="1"></li>
<li data-target="#carousel-example-captions" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<img src="..." alt="First slide image">
<div class="carousel-caption animated fadeInUpBig">
    <h3>First slide label</h3>
    <p>...</p>
</div>
</div>
<div class="item">
<img src="..." alt="Second slide image">
<div class="carousel-caption animated fadeInUpBig">
    <h3>Second slide label</h3>
    <p>...</p>
</div>
</div>
<div class="item">
<img src="..." alt="Third slide image">
<div class="carousel-caption animated fadeInUpBig">
    <h3>Third slide label</h3>
    <p>...</p>
</div>
</div>
</div>
<a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Bxslider</h2>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="bxslider" id="bx1">
                          <li><img src="<%= assets %>img/demo/w1.jpg" /></li>
                          <li><img src="<%= assets %>img/demo/w2.jpg" /></li>
                          <li><img src="<%= assets %>img/demo/w3.jpg" /></li>
                          <li><img src="<%= assets %>img/demo/w4.jpg" /></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="bxslider" id="bx2">
                          <li><img src="<%= assets %>img/demo/w5.jpg" class="img-responsive" title="Funky roots" /></li>
                          <li><img src="<%= assets %>img/demo/w6.jpg" class="img-responsive" title="The long and winding road" /></li>
                          <li><img src="<%= assets %>img/demo/w7.jpg" class="img-responsive" title="Happy trees" /></li>
                        </ul>
                    </div>
                </div>

                <div class="alert alert-info">
                    <i class="fa fa-info"></i> To use bxSlider see the <a href="http://bxslider.com/">official documentation</a>.
                </div>

                <h2 class="section-title">Multiple Items</h2>
                <div class="bxslider-controls">
                    <span id="bx-prev4"></span>
                    <span id="bx-next4"></span>
                </div>
                <ul class="bxslider" id="bx4">
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf1.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf2.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf3.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf4.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf1.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf2.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf3.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf4.jpg" alt="...">
                    </a>
                  </li>
                </ul>

                <h2 class="section-title">With Motion</h2>
                <div class="bxslider-controls">
                    <span id="bx-prev5"></span>
                    <span id="bx-next5"></span>
                </div>
                <ul class="bxslider" id="bx5">
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf1.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf2.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf3.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/wf4.jpg" alt="...">
                    </a>
                  </li>
                </ul>


                <h2 class="section-title">Multiple Items With Captions</h2>
                <div class="bxslider-controls">
                    <span id="bx-prev"></span>
                    <span id="bx-next"></span>
                </div>
                <ul class="bxslider" id="bx3">
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf1.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf2.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf3.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf4.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf1.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf2.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf3.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/wf4.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                      </div>
                    </div>
                  </li>
                </ul>

            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/carousels.js"></script>

</body>

</html>
