<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Charts & CountDowns</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li class="active">Charts & CountDowns</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li class="active"><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li class="active"><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">circle.js integrated</h2>
                <div class="alert alert-info">Artificial reason contains the library <a href="https://github.com/lugolabs/circles">circles.js</a> to create statistical circles. You can use all you need, here are some examples.</div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-1"></div>
                            <h4 class="text-center">HTML 5</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-2"></div>
                            <h4 class="text-center">CSS 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-3"></div>
                            <h4 class="text-center">Jquery</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-4"></div>
                            <h4 class="text-center">Bootstrap 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                </div>
                <h2 class="section-title">Diferent Size</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-5"></div>
                            <h4 class="text-center">HTML 5</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-6"></div>
                            <h4 class="text-center">CSS 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-7"></div>
                            <h4 class="text-center">Jquery</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-8"></div>
                            <h4 class="text-center">Bootstrap 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                </div>
                <h2 class="section-title">Diferent colors</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-9"></div>
                            <h4 class="text-center">HTML 5</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-10"></div>
                            <h4 class="text-center">CSS 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-11"></div>
                            <h4 class="text-center">Jquery</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-12"></div>
                            <h4 class="text-center">Bootstrap 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                </div>
                <h2 class="section-title">More sizes and colors</h2>
                <div class="alert alert-info">
                    You can combine all colors and thickness you need. And give the values ​​and manipulate them through their api with javascript.
                </div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-13"></div>
                            <h4 class="text-center">HTML 5</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-14"></div>
                            <h4 class="text-center">CSS 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-15"></div>
                            <h4 class="text-center">Jquery</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-center">
                            <div class="circle" id="circles-16"></div>
                            <h4 class="text-center">Bootstrap 3</h4>
                            <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/page_charts.js"></script>

</body>

</html>
