<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Collapses & Tabs</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li class="active">Collapses & Tabs</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li class="active"><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Tabs Navigation</h2>

                <div class="row">
                    <div class="col-md-8">
                        <h3>Light Gray Version</h3>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-ar">
                          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                          <li><a href="#profile" data-toggle="tab">Profile</a></li>
                          <li><a href="#messages" data-toggle="tab">Messages</a></li>
                          <li><a href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
                          <div class="tab-pane" id="profile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
                          <div class="tab-pane" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
                          <div class="tab-pane" id="settings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>With Icons</h3>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-ar">
                          <li class="active"><a href="#home3" data-toggle="tab"><i class="fa fa-star"></i></a></li>
                          <li><a href="#profile3" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
                          <li><a href="#messages3" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
                          <li><a href="#settings3" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="home3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia.</div>
                          <div class="tab-pane" id="profile3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium.</div>
                          <div class="tab-pane" id="messages3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque.</div>
                          <div class="tab-pane" id="settings3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio.</div>
                        </div>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-ar">
<li class="active"><a href="#home3" data-toggle="tab"><i class="fa fa-star"></i></a></li>
<li><a href="#profile3" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
<li><a href="#messages3" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
<li><a href="#settings3" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia.</div>
<div class="tab-pane" id="profile3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium.</div>
<div class="tab-pane" id="messages3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque.</div>
<div class="tab-pane" id="settings3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio.</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h3>White Version</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                  <li class="active"><a href="#home2" data-toggle="tab">Home</a></li>
                  <li><a href="#profile2" data-toggle="tab">Profile</a></li>
                  <li><a href="#messages2" data-toggle="tab">Messages</a></li>
                  <li><a href="#settings2" data-toggle="tab">Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="home2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
                  <div class="tab-pane" id="profile2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
                  <div class="tab-pane" id="messages2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
                  <div class="tab-pane" id="settings2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
<li class="active"><a href="#home2" data-toggle="tab">Home</a></li>
<li><a href="#profile2" data-toggle="tab">Profile</a></li>
<li><a href="#messages2" data-toggle="tab">Messages</a></li>
<li><a href="#settings2" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
<div class="tab-pane" id="profile2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
<div class="tab-pane" id="messages2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
<div class="tab-pane" id="settings2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title no-margin-top">Bootstrap Basic Tabs</h2>


                <div class="row">
                    <div class="col-md-6">
                        <h3>Square Tabs</h3>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#home4" data-toggle="tab">Home</a></li>
                          <li><a href="#profile4" data-toggle="tab">Profile</a></li>
                          <li><a href="#messages4" data-toggle="tab">Messages</a></li>
                          <li><a href="#settings4" data-toggle="tab">Settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="home4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
                          <div class="tab-pane" id="profile4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
                          <div class="tab-pane" id="messages4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
                          <div class="tab-pane" id="settings4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Round Tabs</h3>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-round">
                          <li class="active"><a href="#home5" data-toggle="tab">Home</a></li>
                          <li><a href="#profile5" data-toggle="tab">Profile</a></li>
                          <li><a href="#messages5" data-toggle="tab">Messages</a></li>
                          <li><a href="#settings5" data-toggle="tab">Settings</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="home5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
                          <div class="tab-pane" id="profile5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
                          <div class="tab-pane" id="messages5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
                          <div class="tab-pane" id="settings5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
                        </div>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<h3>Square Tabs</h3>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
<li class="active"><a href="#home4" data-toggle="tab">Home</a></li>
<li><a href="#profile4" data-toggle="tab">Profile</a></li>
<li><a href="#messages4" data-toggle="tab">Messages</a></li>
<li><a href="#settings4" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
<div class="tab-pane" id="profile4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
<div class="tab-pane" id="messages4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
<div class="tab-pane" id="settings4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
</div>

<h3>Round Tabs</h3>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-round">
<li class="active"><a href="#home5" data-toggle="tab">Home</a></li>
<li><a href="#profile5" data-toggle="tab">Profile</a></li>
<li><a href="#messages5" data-toggle="tab">Messages</a></li>
<li><a href="#settings5" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur error ad sint accusantium molestias recusandae esse culpa doloremque labore fuga officia perspiciatis beatae mollitia earum voluptatibus numquam inventore dolorem ipsa modi molestiae porro illum pariatur nisi eligendi laudantium architecto rerum deserunt distinctio repellendus sit quod nemo obcaecati laboriosam quibusdam.</div>
<div class="tab-pane" id="profile5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, at, laboriosam, possimus, nam rem quia reiciendis sit vel totam id eum quasi aperiam officiis omnis ipsum quo praesentium quaerat unde mollitia maiores. Dignissimos, deleniti, eos, quibusdam quae voluptatibus obcaecati voluptatum iure quas voluptates cupiditate incidunt voluptate dolorem delectus exercitationem earum?</div>
<div class="tab-pane" id="messages5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ipsam, distinctio, ea quas quam mollitia enim dolorem aliquam laboriosam exercitationem ullam iste quis possimus aut atque est beatae temporibus impedit deleniti explicabo ratione esse molestias maiores minima odit? Tempore, omnis, possimus praesentium minus iusto laboriosam vitae officiis deserunt voluptate odio.</div>
<div class="tab-pane" id="settings5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, blanditiis, ea quam minus aliquid libero quibusdam eos incidunt quo accusantium itaque veritatis reprehenderit optio provident nostrum ipsam aliquam voluptate officia voluptatem magni vitae nisi error maiores dolor natus at perferendis. Eligendi, a deserunt voluptatibus facere dolores rem molestias ad magnam!</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Collapses</h2>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                          Collapsible Group Item #2
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                          Collapsible Group Item #3
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading panel-heading-link">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Collapsible Group Item #1
    </a>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        ...
    </div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading panel-heading-link">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
        Collapsible Group Item #2
    </a>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
        ...
    </div>
</div>
</div>
...
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-6">
                        <h3>Color Options</h3>
                        <div class="panel-group" id="accordion5">
                          <div class="panel panel-primary">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#c1">
                                  Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="c1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-success">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#c2" class="collapsed">
                                  Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="c2" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-warning">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#c3" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="c3" class="panel-danger collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-info">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#c4" class="collapsed">
                                  Collapsible Group Item #4
                                </a>
                            </div>
                            <div id="c4" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-royal">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion5" href="#c5" class="collapsed">
                                  Collapsible Group Item #5
                                </a>
                            </div>
                            <div id="c5" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Dark Colors</h3>
                        <div class="panel-group" id="accordion6">
                          <div class="panel panel-primary-dark">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#c11">
                                  Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="c11" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-success-dark">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#c12" class="collapsed">
                                  Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="c12" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-warning-dark">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#c13" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="c13" class="panel-danger collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-info-dark">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#c14" class="collapsed">
                                  Collapsible Group Item #4
                                </a>
                            </div>
                            <div id="c14" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-royal-dark">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion6" href="#c15" class="collapsed">
                                  Collapsible Group Item #5
                                </a>
                            </div>
                            <div id="c15" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="css-section">
                <h2 class="section-title">Alternative Collapse</h2>

                <div class="panel-group" id="accordioncc">
                  <div class="panel panel-primary">
                    <div class="panel-heading panel-plus-link">
                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc1">
                          Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="cc1" class="panel-collapse collapse in">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-primary">
                    <div class="panel-heading panel-plus-link">
                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc2" class="collapsed">
                          Collapsible Group Item #2
                        </a>
                    </div>
                    <div id="cc2" class="panel-collapse collapse">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-primary">
                    <div class="panel-heading panel-plus-link">
                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc3" class="collapsed">
                          Collapsible Group Item #3
                        </a>
                    </div>
                    <div id="cc3" class="panel-collapse collapse">
                      <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="panel-group" id="accordion">
<div class="panel panel-primary">
<div class="panel-heading panel-plus-link">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Collapsible Group Item #1
    </a>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
    <div class="panel-body">
        ...
    </div>
</div>
</div>
<div class="panel panel-primary">
<div class="panel-heading panel-plus-link">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
        Collapsible Group Item #2
    </a>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
        ...
    </div>
</div>
</div>
...
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-6">
                        <h3>Color Options</h3>
                        <div class="panel-group" id="accordioncc1">
                          <div class="panel panel-default">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc11">
                                  Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="cc11" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-info">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc22" class="collapsed">
                                  Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="cc22" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-success">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc33" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc33" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-warning">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc44" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc44" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-danger">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc55" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc55" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-royal">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc1" href="#cc66" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc66" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Dark Colors</h3>
                        <div class="panel-group" id="accordioncc3">
                          <div class="panel panel-primary-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc111">
                                  Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="cc111" class="panel-collapse collapse in">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-info-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc222" class="collapsed">
                                  Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="cc222" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-success-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc333" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc333" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-warning-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc444" class="collapsed">
                                  Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="cc444" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-danger-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc555" class="collapsed">
                                  Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="cc555" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-royal-dark">
                            <div class="panel-heading panel-plus-link">
                                <a data-toggle="collapse" data-parent="#accordioncc3" href="#cc666" class="collapsed">
                                  Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="cc666" class="panel-collapse collapse">
                              <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="css-section">
                <h2 class="section-title">Collapse Menu</h2>
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <h3>Their content, organized</h3>
                        <p>You can use the menu to create collapsable sidebars with much content. Perfect for documents or sites with many sections.</p>
                        <p class="alert alert-info">You can also make other elements to contract when you open an item.</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <ul class="sidebar-nav">
                            <li class="active">
                                <a data-toggle="collapse" href="#col1"><i class="fa fa-css3"></i> Item one</a>
                                <ul id="col1" class="menu-submenu list-unstyled collapse in">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#col2" class="collapsed"><i class="fa fa-tasks"></i> Item Two</a>
                                <ul id="col2" class="menu-submenu list-unstyled collapse">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#col3" class="collapsed"><i class="fa fa-bell-o"></i> Item Three</a>
                                <ul id="col3" class="menu-submenu list-unstyled collapse">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#col4" class="collapsed"><i class="fa fa-desktop"></i> Item Four</a>
                                <ul id="col4" class="menu-submenu list-unstyled collapse">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#col5" class="collapsed"><i class="fa fa-group"></i> Item Five</a>
                                <ul id="col5" class="menu-submenu list-unstyled collapse">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#col6" class="collapsed"><i class="fa fa-flag"></i> Item Six</a>
                                <ul id="col6" class="menu-submenu list-unstyled collapse">
                                    <li><a href="#"><i class="fa fa-font"></i>SubItem one</a></li>
                                    <li><a href="#"><i class="fa fa-html5"></i>Subitem Two</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i>Subitem Three</a></li>
                                    <li><a href="#"><i class="fa fa-tags"></i>Subitem Four</a></li>
                                    <li><a href="#"><i class="fa fa-clock-o"></i>Subitem Five</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
