<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Modals</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Modals</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                               <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-comp"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse in">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li class="active"><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Modals</h2>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Normal Modal</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                <p><img src="<%= assets %>img/demo/w1.jpg" alt="" class="img-responsive"></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quasi voluptas nostrum culpa sunt laboriosam corporis perspiciatis animi rem unde. Nihil, doloribus soluta possimus non asperiores eius natus quaerat porro.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ad, adipisci, vel recusandae qui pariatur id nobis officiis dolorum non tempora quae libero cumque consequuntur sint alias odit possimus quo.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quisquam, tempore, ipsam, blanditiis praesentium cumque commodi vitae minus perferendis officia quidem aliquid natus explicabo! Blanditiis a magni facere temporibus odit.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-ar btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Small Modal</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal2">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quasi voluptas nostrum culpa sunt laboriosam corporis perspiciatis animi rem unde. Nihil, doloribus soluta possimus non asperiores eius natus quaerat porro.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-ar btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Large Modal</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal3">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                <p><img src="<%= assets %>img/demo/image-1.jpg" alt="" class="img-responsive imageborder aligncenter"></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quasi voluptas nostrum culpa sunt laboriosam corporis perspiciatis animi rem unde. Nihil, doloribus soluta possimus non asperiores eius natus quaerat porro.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, mollitia eius libero nisi doloremque alias quasi fugit natus aliquam sapiente obcaecati praesentium corporis et temporibus exercitationem blanditiis molestiae totam. Eligendi!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ad, adipisci, vel recusandae qui pariatur id nobis officiis dolorum non tempora quae libero cumque consequuntur sint alias odit possimus quo.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quisquam, tempore, ipsam, blanditiis praesentium cumque commodi vitae minus perferendis officia quidem aliquid natus explicabo! Blanditiis a magni facere temporibus odit.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-ar btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        ...
    </div>
</div>
</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
            <section class="css-section">
                <h2 class="section-title">Video Modal</h2>
                <p class="alert alert-success">Support for <strong>Youtube</strong>, <strong>Vimeo</strong>, <strong>HTML5 Video</strong>, etc. Video fully responsive to all the screens</p>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Width Title</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal4">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                <div class="video">
                                    <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Only Video</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal5">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-body no-padding">
                                <div class="video">
                                    <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Responsive Size</h3>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal6">
                          Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <div class="video">
                                    <iframe src="//www.youtube.com/embed/9d8wWcJLnFI?rel=0" frameborder="0" allowfullscreen"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
