<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Thumbnails</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Thumbnails</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-comp"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse in">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li class="active"><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Simple Thumbnails</h2>
                <div class="row">
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w7.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w8.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w9.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w10.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w11.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-4">
                    <a href="#" class="thumbnail">
                      <img src="<%= assets %>img/demo/w12.jpg" alt="...">
                    </a>
                  </div>
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="thumbnail">
<img src="..." alt="...">
</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->


                <h2 class="section-title">Round Thumbnails</h2>

                <div class="row">
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail thumbnail-round">
                      <img src="<%= assets %>img/demo/w4.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail thumbnail-round">
                      <img src="<%= assets %>img/demo/w8.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail thumbnail-round">
                      <img src="<%= assets %>img/demo/w1.jpg" alt="...">
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail thumbnail-round">
                      <img src="<%= assets %>img/demo/w6.jpg" alt="...">
                    </a>
                  </div>
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="thumbnail thumbnail-round">
<img src="..." alt="...">
</a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h2 class="section-title">Thumbnails caption</h2>

                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/w10.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla velit consequuntur recusandae animi.</p>
                        <p><a href="#" class="btn btn-ar btn-primary" role="button">Button</a> <a href="#" class="btn btn-ar btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/w11.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, repudiandae, possimus autem delectus consequatur minima ducimus odit rem fugit.</p>
                        <p><a href="#" class="btn btn-ar btn-primary" role="button">Button</a> <a href="#" class="btn btn-ar btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="<%= assets %>img/demo/w12.jpg" alt="...">
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, repudiandae expedita natus eaque magnam tempore saepe delectus perferendis atque.</p>
                        <p><a href="#" class="btn btn-ar btn-primary" role="button">Button</a> <a href="#" class="btn btn-ar btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="thumbnail">
<img src=".." alt="...">
<div class="caption">
<h3>Thumbnail label</h3>
<p>...</p>
</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h2 class="section-title">Thumbnails hover caption</h2>

                <div class="row">
                    <div class="col-md-4">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>js/holder.js/100%x200/sky" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4 class="caption-title">Title Caption</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>js/holder.js/100%x200/lava" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>js/holder.js/100%x200/vine" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <h4 class="caption-title">Title Caption</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, repellendus?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="img-caption-ar">
<img src="..." class="img-responsive" alt="Image">
<div class="caption-ar">
<div class="caption-content">
    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
    <h4 class="caption-title">Title Caption</h4>
</div>
</div>
</div>

<div class="img-caption-ar">
<img src="..." class="img-responsive" alt="Image">
<div class="caption-ar">
<div class="caption-content">
    <p>....</p>
</div>
</div>
</div>

<div class="img-caption-ar">
<img src="..." class="img-responsive" alt="Image">
<div class="caption-ar">
<div class="caption-content">
    <h4 class="caption-title">Title Caption</h4>
    <p>...</p>
</div>
</div>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w1.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4 class="caption-title">Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w2.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4 class="caption-title">Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w3.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4 class="caption-title">Title Work</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">

                       <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w5.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                    <h4 class="caption-title">Title Work</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w8.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <h4 class="caption-title">Title Work</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w4.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <h4 class="caption-title">Title Work</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w1.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <h4 class="caption-title">Title Work</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="img-caption-ar">
                            <img src="<%= assets %>img/demo/w9.jpg" class="img-responsive" alt="Image">
                            <div class="caption-ar">
                                <div class="caption-content">
                                    <h4 class="caption-title">Title Work</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
