<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Alerts and Wells</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Alerts and Wells</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                               <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-comp"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse in">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li class="active"><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Basic Alerts</h2>

                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Culpa a temporibus, minus inventore perferendis tempore praesentium neque possimus fugit fuga enim eos ducimus velit dolorum sit laudantium autem nihil accusamus!
                </div>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Atque nulla ipsa reprehenderit ad laboriosam consectetur laborum dolore enim placeat molestiae! Vitae, numquam fuga aut sequi commodi esse nisi ratione aliquam!
                </div>
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Repellendus est, optio atque culpa in fuga quod iure ratione dolor nam laborum consectetur fugiat. Mollitia aliquam maiores sit facere error natus.
                </div>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Odio, adipisci, ipsum perferendis quam ex voluptatum cupiditate expedita tenetur! Optio, suscipit velit a delectus praesentium natus corrupti. Eius, quam architecto tempora.
                </div>
                <div class="alert alert-royal">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Ullam reiciendis corporis, impedit tenetur cupiditate in id voluptatem libero iusto officiis distinctio quae autem dolorem dicta non atque ex excepturi cumque.
                </div>
                <div class="alert alert-primary">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>Lorem ipsum dolor sit</h4>
                    Repudiandae maxime sequi perspiciatis dolore molestiae corrupti voluptates accusamus quia. Totam, porro, fuga recusandae ut necessitatibus sint odit adipisci. Vero, veritatis, sequi!
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Culpa a temporibus, minus inventore perferendis tempore praesentium neque possimus fugit fuga enim eos ducimus velit dolorum sit laudantium autem nihil accusamus!
</div>
<div class="alert alert-success">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Atque nulla ipsa reprehenderit ad laboriosam consectetur laborum dolore enim placeat molestiae! Vitae, numquam fuga aut sequi commodi esse nisi ratione aliquam!
</div>
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Repellendus est, optio atque culpa in fuga quod iure ratione dolor nam laborum consectetur fugiat. Mollitia aliquam maiores sit facere error natus.
</div>
<div class="alert alert-danger">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Odio, adipisci, ipsum perferendis quam ex voluptatum cupiditate expedita tenetur! Optio, suscipit velit a delectus praesentium natus corrupti. Eius, quam architecto tempora.
</div>
<div class="alert alert-royal">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Ullam reiciendis corporis, impedit tenetur cupiditate in id voluptatem libero iusto officiis distinctio quae autem dolorem dicta non atque ex excepturi cumque.
</div>
<div class="alert alert-primary">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Repudiandae maxime sequi perspiciatis dolore molestiae corrupti voluptates accusamus quia. Totam, porro, fuga recusandae ut necessitatibus sint odit adipisci. Vero, veritatis, sequi!
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <hr>

                <h3>With icons</h3>

                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-info"></i> Info!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-check"></i> Success!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-warning"></i> Warning!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                   <strong><i class="fa fa-times"></i> Error!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-royal">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-bullhorn"></i> Info!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-primary">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-comments-o"></i> Primary!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>


                <h2 class="section-title">Alert with border</h2>
                <p class="alert alert-border alert-info">Culpa a temporibus, minus inventore perferendis tempore praesentium neque possimus fugit fuga enim eos ducimus velit dolorum sit laudantium autem nihil accusamus!</p>
                <p class="alert alert-border alert-success">Atque nulla ipsa reprehenderit ad laboriosam consectetur laborum dolore enim placeat molestiae! Vitae, numquam fuga aut sequi commodi esse nisi ratione aliquam!</p>
                <p class="alert alert-border alert-warning">Repellendus est, optio atque culpa in fuga quod iure ratione dolor nam laborum consectetur fugiat. Mollitia aliquam maiores sit facere error natus.</p>
                <p class="alert alert-border alert-danger">Odio, adipisci, ipsum perferendis quam ex voluptatum cupiditate expedita tenetur! Optio, suscipit velit a delectus praesentium natus corrupti. Eius, quam architecto tempora.</p>
                <p class="alert alert-border alert-royal">Ullam reiciendis corporis, impedit tenetur cupiditate in id voluptatem libero iusto officiis distinctio quae autem dolorem dicta non atque ex excepturi cumque.</p>
                <p class="alert alert-border alert-primary">Repudiandae maxime sequi perspiciatis dolore molestiae corrupti voluptates accusamus quia. Totam, porro, fuga recusandae ut necessitatibus sint odit adipisci. Vero, veritatis, sequi!</p>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="alert alert-border alert-info">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Culpa a temporibus, minus inventore perferendis tempore praesentium neque possimus fugit fuga enim eos ducimus velit dolorum sit laudantium autem nihil accusamus!
</div>
<div class="alert alert-border alert-success">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Atque nulla ipsa reprehenderit ad laboriosam consectetur laborum dolore enim placeat molestiae! Vitae, numquam fuga aut sequi commodi esse nisi ratione aliquam!
</div>
<div class="alert alert-border alert-warning">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Repellendus est, optio atque culpa in fuga quod iure ratione dolor nam laborum consectetur fugiat. Mollitia aliquam maiores sit facere error natus.
</div>
<div class="alert alert-border alert-danger">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Odio, adipisci, ipsum perferendis quam ex voluptatum cupiditate expedita tenetur! Optio, suscipit velit a delectus praesentium natus corrupti. Eius, quam architecto tempora.
</div>
<div class="alert alert-border alert-royal">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Ullam reiciendis corporis, impedit tenetur cupiditate in id voluptatem libero iusto officiis distinctio quae autem dolorem dicta non atque ex excepturi cumque.
</div>
<div class="alert alert-border alert-primary">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Lorem ipsum dolor sit</h4>
Repudiandae maxime sequi perspiciatis dolore molestiae corrupti voluptates accusamus quia. Totam, porro, fuga recusandae ut necessitatibus sint odit adipisci. Vero, veritatis, sequi!
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <hr>

                <h3>With icons</h3>

                <div class="alert alert-border alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-info"></i> Info!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-border alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-check"></i> Success!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-border alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-warning"></i> Warning!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-border alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                   <strong><i class="fa fa-times"></i> Error!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-border alert-royal">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-bullhorn"></i> Info!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>
                <div class="alert alert-border alert-primary">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><i class="fa fa-comments-o"></i> Primary!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dicta.
                </div>

            </section>
            <section class="css-section">
                <h2 class="section-title">Wells</h2>
                <p class="well well-sm">Distinctio, facere quos aperiam fugiat cupiditate delectus inventore nobis quaerat voluptas fugit quibusdam assumenda incidunt consequatur! Explicabo, dolore, cumque eos saepe consequuntur totam excepturi facere voluptatem beatae esse magnam impedit dolorem nihil!</p>
                <p class="well">Animi, sit, reiciendis voluptas perferendis illo maiores vel a dignissimos mollitia odio doloremque dolores iusto at harum nisi nam atque beatae nobis? Sapiente, cumque aliquid incidunt voluptatem natus architecto ad magnam rerum?</p>
                <p class="well well-lg">Tempore, molestias, voluptate earum officiis dignissimos facilis corrupti expedita id magnam maxime atque impedit consequuntur incidunt optio dolore quaerat alias modi quisquam ratione rem aut esse fugiat saepe reiciendis deserunt ullam fuga.</p>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<p class="well well-sm">...</p>
<p class="well">...</p>
<p class="well well-lg">...</p>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
