<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Lists</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Components</a></li>
            <li class="active">Lists</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                    <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-comp"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse in">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li class="active"><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">List group</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="no-margin-top">Basic list group</h3>
                        <p>Basic list with borders, you can use <a href="#">flags and badges</a> on the right.</p>
                        <p>To use just add a span badges with <code>badge badge-primary</code> class element. Replaced <code>primary</code> by <code>success</code>, <code>info</code>, <code>warning</code>, <code>danger</code> or <code>royal</code>, depending on the color you want.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item"><span class="label label-royal pull-right">New</span> Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item"><span class="badge badge-primary">98</span> Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body panel-body-no-padding">
                                    <pre class="brush: xml">
<ul class="list-group">
<li class="list-group-item">...</li>
<li class="list-group-item"><span class="label label-royal pull-right">New</span> ...</li>
<li class="list-group-item">...</li>
<li class="list-group-item"><span class="badge badge-primary">98</span> ...</li>
<li class="list-group-item">...</li>
</ul>
                                    </pre>
                                </div>
                            </div>
                        </div> <!-- panel show code -->
                    </div>
                </div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <h3 class="no-margin-top">Striped list group</h3>
                        <p>You can add class to the <code>striped</code> shading in columns of links. </p>

                        <p class="alert alert-warning">This only works with lists of items, not linked lists.</p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <ul class="list-group list-group-striped">
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-round">14</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-square">778</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge">9</span>
                            Dapibus ac facilisis in
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary">98</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-round">17</span>
                            Vestibulum at eros
                          </li>
                        </ul>
                    </div>
                </div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Link lists</h3>
                        <p>The link lists are created with a <code>div</code> element of class <code>list-group</code> composed of elements <code>a</code> of the class <code>list-group-item</code>.</p>

                        <p>You can also use badges and flags. as in Item Lists.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="list-group">
                          <a href="#" class="list-group-item active">
                            Cras justo odio
                          </a>
                          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                          <a href="#" class="list-group-item">Morbi leo risus</a>
                          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                          <a href="#" class="list-group-item">Vestibulum at eros</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-group">
                          <a href="#" class="list-group-item">
                            <span class="badge badge-round">9</span>
                            Cras justo odio
                          </a>
                          <a href="#" class="list-group-item"><span class="badge">9</span> Dapibus ac facilisis in</a>
                          <a href="#" class="list-group-item"><span class="badge">19</span> Morbi leo risus</a>
                          <a href="#" class="list-group-item active"><span class="badge badge-round">999</span> Porta ac consectetur ac</a>
                          <a href="#" class="list-group-item">Vestibulum at eros</a>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Colorful elements</h3>
                        <p>You can use the class <code>list-item-group-success</code> or <code>-info</code>, <code>-warning</code>, <code>-danger</code>, <code>-royal</code> for coloring and highlighting elements of a list.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                          <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                          <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                          <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                          <li class="list-group-item list-group-item-royal">Dapibus ac facilisis in</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
                          <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
                          <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
                          <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                          <a href="#" class="list-group-item list-group-item-royal">Dapibus ac facilisis in</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>compressed lists</h3>
                        <p>You can use the <code>list-group-sm</code> class to make more compact lists.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-sm">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Morbi leo risus</li>
                          <li class="list-group-item">Porta ac consectetur ac</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-striped list-group-sm">
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-round">14</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-square">778</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge">9</span>
                            Dapibus ac facilisis in
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary">98</span>
                            Cras justo odio
                          </li>
                          <li class="list-group-item">
                            <span class="badge badge-primary badge-round">17</span>
                            Vestibulum at eros
                          </li>
                        </ul>
                    </div>
                </div>
                <hr class="dotted">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Content lists</h3>
                        <p>You can also can add content such as headers and paragraphs to lists of links.</p>
                        <p>Use the class <code>active</code> to highlight the currently active element.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="list-group">
                          <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, vitae.!</p>
                          </a>
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, facilis.!</p>
                          </a>
                          <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nobis?!</p>
                          </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="css-section">
                <h2 class="section-title">Media Objects</h2>
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="no-margin-top">Basic Media list</h3>
                        <p>Use the <code>media</code> class to display multimedia content with a description beside her. They can be images, videos or other multimedia objects. </p>

                        <p>Use the <code>media-object</code> classes and <code>media-heading</code> for the media item and the item title respectively.</p>
                    </div>
                    <div class="col-md-7">
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentium consectetur molestias.</p>
                          </div>
                        </div>
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentium consectetur molestias.</p>
                          </div>
                        </div>
                        <div class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="<%= assets %>js/holder.js/70x70/social" alt="...">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentium consectetur molestias.</p>
                          </div>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                <div class="col-md-12">
                    <h3>Media Lists</h3>
                    <p>You can use chained lists. Perfect for systems and interests.</p>
                </div>
                <div class="col-md-12">
                    <ul class="media-list">
                          <li class="media">
                            <a class="pull-left" href="#">
                              <img class="media-object" data-src="<%= assets %>js/holder.js/64x64/social" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                              <!-- Nested media object -->
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object" data-src="<%= assets %>js/holder.js/64x64/sky" alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading">Nested media heading</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                  <!-- Nested media object -->
                                  <div class="media">
                                    <a class="pull-left" href="#">
                                      <img class="media-object" data-src="<%= assets %>js/holder.js/64x64/social" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                      <h4 class="media-heading">Nested media heading</h4>
                                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Nested media object -->
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object" data-src="<%= assets %>js/holder.js/64x64/vine" alt="Generic placeholder image">
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading">Nested media heading</h4>
                                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="media">
                            <a class="pull-right" href="#">
                              <img class="media-object" data-src="<%= assets %>js/holder.js/64x64/lava" alt="Generic placeholder image">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading">Media heading</h4>
                              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            </div>
                          </li>
                        </ul>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
