<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Configurator</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">home</a></li>
            <li class="active">Configurator</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p class="slogan text-center">Artificial Reason has <span>9 different types of headers</span> that combined with the <span>25 default colors</span> (we can create one version with your own colors) and Boxed / Full Width style, making a total of <span>450 predetermined styles</span> combinations ready to work!</p>
            <h3 class="right-line">Navbar Style</h3>
            <h4>Light Navbar</h4>
            <a href="../navbar-light/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/nl.png" alt="" class="img-responsive"></a>
            <h4>Dark Navbar</h4>
            <a href="../navbar-dark/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/nd.png" alt="" class="img-responsive"></a>
            <h4>Inverse Navbar</h4>
            <a href="../navbar-inverse/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/ni.png" alt="" class="img-responsive"></a>
            <h3 class="right-line">Header Style</h3>
            <h4>Light Header Light Navbar</h4>
            <a href="../header-light-light/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hll.png" alt="" class="img-responsive"></a>
            <h4>Light Header Dark Navbar</h4>
            <a href="../header-light-dark/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hld.png" alt="" class="img-responsive"></a>
            <h4>Light Header Inverse Navbar</h4>
            <a href="../header-light-inverse/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hli.png" alt="" class="img-responsive"></a>
            <h4>Dark Header Light Navbar</h4>
            <a href="../header-dark-light/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hdl.png" alt="" class="img-responsive"></a>
            <h4>Dark Header Dark Navbar</h4>
            <a href="../header-dark-dark/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hdd.png" alt="" class="img-responsive"></a>
            <h4>Dark Header Inverse Navbar</h4>
            <a href="../header-dark-inverse/configurator.html" class="thumbnail"><img src="<%= assets %>img/headers/hdi.png" alt="" class="img-responsive"></a>

        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
