<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Contents Box</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li class="active">Contents Box</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li class="active"><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li class="active"><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Content Box</h2>

                <div class="row">
                    <div class="col-md-4">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
                            <h5 class="content-box-title">Default Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-round"><i class="fa fa-group"></i></span>
                            <h5 class="content-box-title">Default Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-default">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-square"><i class="fa fa-bank"></i></span>
                            <h5 class="content-box-title">Default Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="content-box box-primary">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-star"></i></span>
                            <h5 class="content-box-title">Primary Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-info">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-car"></i></span>
                            <h5 class="content-box-title">Info Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-success">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-steam"></i></span>
                            <h5 class="content-box-title">Success Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="content-box box-warning">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-beer"></i></span>
                            <h5 class="content-box-title">Warning Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-danger">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-warning"></i></span>
                            <h5 class="content-box-title">Danger Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content-box box-royal">
                            <span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-white icon-ar-circle"><i class="fa fa-cogs"></i></span>
                            <h5 class="content-box-title">Royal Box</h5>
                            <p>Eveniet quo minima deserunt quisquam libero iste veritatis consectetur nulla.</p>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="content-box box-default">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-primary">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-info">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-success">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-warning">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-danger">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>

<div class="content-box box-royal">
<span class="icon-ar icon-ar-lg icon-ar-inverse icon-ar-circle"><i class="fa fa-cloud"></i></span>
<h5 class="content-box-title">...</h5>
<p>...</p>
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Ideas for Boxes Content</h2>

                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/w3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                            <a href="#" class="btn btn-ar btn-primary">Read More</a>
                            <a href="#" class="btn btn-ar btn-default">No, Thanks</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content-box box-primary">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/w4.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                            <a href="#" class="btn btn-ar btn-warning">Read More</a>
                            <a href="#" class="btn btn-ar btn-default">No, Thanks</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content-box box-danger">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%= assets %>img/demo/w10.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title">Lorem ipsum dolor sit amet</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                            <a href="#" class="btn btn-ar btn-success">Read More</a>
                            <a href="#" class="btn btn-ar btn-default">No, Thanks</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-box box-success">
                            <img src="<%= assets %>img/demo/w11.jpg" alt="" class="img-responsive">
                            <h4 class="content-box-title">Lorem ipsum dolor sit amet</h4>
                            <div class="calification">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                            <a href="#" class="btn btn-ar btn-primary">Read More</a>
                            <a href="#" class="btn btn-ar btn-default">No, Thanks</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box box-primary">
                            <img src="<%= assets %>img/demo/w12.jpg" alt="" class="img-responsive">
                            <h4 class="content-box-title">Lorem ipsum dolor sit amet</h4>
                            <div class="calification">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, alias similique rem quos suscipit nemo ipsum assumenda ut est inventore.</p>
                            <a href="#" class="btn btn-ar btn-danger">Read More</a>
                            <a href="#" class="btn btn-ar btn-default">No, Thanks</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
