<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Dividers</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Dividers</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse in">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li class="active"><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Basic Dividers</h2>
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Asperiores libero esse accusantium sed voluptate unde expedita magni. Sit, quaerat, suscipit. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr>
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Ab rem dolorem hic vero doloremque veritatis placeat quo similique maxime id. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="dashed">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Ducimus, aspernatur consequuntur consectetur animi officiis quod illum voluptate dolore in veniam! reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="dotted">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Deserunt, ullam placeat laboriosam officiis corrupti voluptatibus officia dolorem libero laudantium non. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="double">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Nostrum, ratione vero incidunt rem iste provident eligendi laboriosam fuga ducimus accusantium? reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="double dashed">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Aspernatur, amet accusamus consequatur iusto repudiandae eos non quia incidunt veniam architecto. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="double dotted">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Similique nulla ab culpa exercitationem repellendus. Doloremque suscipit iste vero eos doloribus? reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<hr>
<hr class="dashed">
<hr class="dotted">
<hr class="double">
<hr class="double dashed">
<hr class="double dotted">
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <h2 class="section-title">Color Dividers</h2>
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. A, neque sint unde non vero placeat facilis itaque maxime quis amet. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Adipisci, voluptatum eos eius aspernatur consectetur libero ipsam inventore excepturi quae dolores. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color dashed">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Minima, quam excepturi cum reiciendis quisquam ducimus adipisci perferendis dolorum maxime soluta. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color dotted">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Illum, quas aspernatur harum quibusdam sequi atque voluptatum doloribus sint illo accusamus! reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color double">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Voluptatibus, amet, sint recusandae odit illum aut obcaecati eaque deleniti fuga vitae? reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color double dashed">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Corporis, itaque, aspernatur ex eveniet eaque repudiandae laborum maxime nam assumenda exercitationem. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>
                <hr class="color double dotted">
                <p>Reprehenderit laborum, delectus, voluptatem minus ipsum libero veniam cumque dolor sit amet, consectetur adipisicing elit. Nesciunt minus doloremque ipsam nobis officiis tempore iste possimus sequi consequatur velit. reiciendis incidunt eveniet atque! Ipsam, in, quibusdam, veniam consequuntur exercitationem soluta magnam obcaecati consectetur eligendi minus repudiandae eos!</p>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<hr>
<hr class="color dashed">
<hr class="color dotted">
<hr class="color double">
<hr class="color double dashed">
<hr class="color double dotted">
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
