<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Typography</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Typography</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse in">
                        <li class="active"><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Paragraph Examples</h2>

                <p>Lorem ipsum dolor sit amet, <strong>consectetuer adipiscing elit</strong>. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

                <p>Aenean leo ligula, porttitor eu <a href="#">consequat vitae</a> eleifend ac enim. <em>Aliquam lorem ante</em>, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<p>Lorem <strong>ipsum dolor</strong> sit.</p>
<p>Other <em>consectetur</em> elit neque.</p>
                           </pre>
                        </div>
                    </div>
                </div>

            </section>
            <section class="css-section">
                <h2 class="section-title">Lead Paragraphs</h2>

                <p class="lead lead-lg">Donec quam felis, ultricies nec pellentesque eu pretium quis sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel aliquet nec vulputate eget arcu.</p>

                <p class="lead">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                <p class="lead lead-sm">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<p class="lead lead-lg">Donec quam felis, ultricies nec...</p>

<p class="lead">Lorem ipsum dolor sit amet consectetuer...</p>

<p class="lead lead-sm">In enim justo, rhoncus ut...</p>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
            <section class="css-section">
                <h2 class="section-title">Lists</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Unordered</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Ordered</h3>
                        <ol>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ol>
                    </div>
                    <div class="col-md-5">
                        <h3>Description</h3>
                        <dl>
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dt>Fermentum massa</dt>
                            <dd>Porta sem malesuada magna mollis euismod eget tellus sem malesuada.</dd>
                        </dl>
                    </div>
                    <div class="col-md-7">
                        <h3>Horizontal Description</h3>
                        <dl class="dl-horizontal">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dt>Felis euismod semper</dt>
                            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                        </dl>
                    </div>
                </div>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Unordered -->
<ul>
    <li>...</li>
    ...
</ul>

<!-- Ordered -->
<ol>
    <li>...</li>
    ...
</ol>

<!-- Description -->
<dl>
    <dd>...</dd>
    <dt>...</dt>
    ...
</dl>

<!-- Horizontal Description -->
<dl class="dl-horizontal">
    <dd>...</dd>
    <dt>...</dt>
    ...
</dl>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Numbered List</h2>
                <ol class="service-list list-unstyled">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                    <li>Totam porro sit, obcaecati quos quae iure tenetur, soluta voluptatem sapiente rerum ipsam delectus corporis voluptates voluptate, nulla mollitia pariatur.</li>
                    <li>Amet dolorum ullam, rerum ratione distinctio, quia iusto rem! Asperiores et quas, ratione in dolores dolorum doloribus magni suscipit labore!</li>
                    <li>Enim quas nesciunt sequi odit, ut quisquam vitae commodi animi placeat nihil saepe magnam aliquam, vero harum quae doloribus aut nostrum veniam alias!</li>
                    <li>Expedita doloribus vel nam fuga iusto aperiam maxime aut amet pariatur. Libero quidem, optio itaque ducimus. Nulla laboriosam voluptas voluptates.</li>
                </ol>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<ol class="service-list list-unstyled">
    <li>...</li>
    ...
</ol>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Dropcaps</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="dropcaps">Maecenas lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut in no metus eget eros faucibus tincidunt varius laoreet. Quisque rutrum. Aenean imperdiet eget eros faucibus tincidunt Etiam hendrerit ultricies nisi vel augue leo eget bibendum sodales.</p>
                        <hr class="dashed">
                        <p class="dropcaps dropcaps-bg">Maecenas ullamcorper ultricies nisi. Nam eget dui. Etiam in at rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero sit amet adipiscing sem  the neque sed ipsum. Nam quam nunc blandit vel, luctus pulvinar, hendrerit id cursus nunc lorem.</p>
                        <hr class="dashed">
                        <p class="dropcaps dropcaps-circle">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis. Nullam tellus eget condimentum quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed eget eros faucibus tincidunt sagittis magna. Sed in at rhoncus consequat, augue velit.</p>
                        <hr class="dashed">
                        <p class="dropcaps dropcaps-circle-bg">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis. Nullam tellus eget condimentum quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed eget eros faucibus tincidunt sagittis magna. Sed in at rhoncus consequat, augue velit.</p>
                    </div>
                </div>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<p class="dropcaps">...</p>
<p class="dropcaps dropcaps-bg">...</p>
<p class="dropcaps dropcaps-circle">...</p>
<p class="dropcaps dropcaps-circle-bg">...</p>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Emphasis</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Colorful Text</h3>
                        <p class="em-primary">Iure deleniti alias amet tenetur iste repudiandae veniam.</p>
                        <p class="em-success">Tempore aliquid accusantium repudiandae cumque in.</p>
                        <p class="em-info">Totam perspiciatis perferendis itaque necessitatibus.</p>
                        <p class="em-warning">Veniam  dicta doloremque et expedita voluptate ratione.</p>
                        <p class="em-danger">Eos voluptate optio deserunt sed tempora cum minus.</p>
                        <p class="em-help">Reiciendis corrupti assumenda earum ipsum et ratione.</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Colorful Text Inverse</h3>
                        <p class="em-primary-inverse">Iure deleniti alias amet tenetur iste repudiandae veniam.</p>
                        <p class="em-success-inverse">Tempore aliquid accusantium repudiandae cumque in.</p>
                        <p class="em-info-inverse">Totam perspiciatis perferendis itaque necessitatibus.</p>
                        <p class="em-warning-inverse">Veniam  dicta doloremque et expedita voluptate ratione.</p>
                        <p class="em-danger-inverse">Eos voluptate optio deserunt sed tempora cum minus.</p>
                        <p class="em-royal-inverse">Reiciendis corrupti assumenda earum ipsum et ratione.</p>
                    </div>
                </div>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<p class="em-primary">...</p>
<p class="em-success">...</p>
<p class="em-info">...</p>
<p class="em-warning">...</p>
<p class="em-danger">...</p>
<p class="em-help">...</p>
<p class="em-primary-inverse">...</p>
<p class="em-success-inverse">...</p>
<p class="em-info-inverse">...</p>
<p class="em-warning-inverse">...</p>
<p class="em-danger-inverse">...</p>
<p class="em-royal-inverse">...</p>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Border Box</h2>
                <div class="border-box">
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <span class="em-success">Phasellus viverra nulla</span> ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. <span class="em-help">Etiam ultricies nisi vel augue</span>.</p>
                    <hr class="dashed">
                    <p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, <span class="em-warning">tellus eget condimentum rhoncus</span>, sem quam semper libero, <span class="em-info">sit amet adipiscing sem neque</span> sed ipsum. Nam quam nunc blandit vel luctus pulvinar, hendrerit id, lorem.</p>
                    <hr class="dashed">
                    <p>Maecenas nec odio et ante tincidunt tempus. <span class="em-primary">Donec vitae sapien ut libero</span> venenatis faucibus. Nullam quis ante. Etiam sit amet orci <span class="em-danger">eget eros faucibus tincidunt</span>. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                </div>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<div class="border-box">
</div>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Syntax Highlighter</h2>
                <pre class="brush: js">
// SyntaxHighlighter makes your code snippets beautiful without tiring your servers.
var setArray = function(elems)
{
    String "Hello World!";
    int x = 4;
    this.length = x + 6; // This is inline comment
    push.apply(this, elems);
    return this;
    }
                </pre>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<pre class="brush: js">

    ...
</pre>
                            </pre>
                            <div class="alert alert-info">More info in official website: <a href="http://alexgorbatchev.com/SyntaxHighlighter/">http://alexgorbatchev.com/SyntaxHighlighter/</a></div>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">
                <h2 class="section-title">Jumbotron</h2>
                <div class="jumbotron">
                    <h1>Hello, world!</h1>
                    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <p><a class="btn btn-ar btn-primary btn-lg" role="button">Learn more</a></p>
                </div>
            </section>
            <!-- Panel Code -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body panel-body-no-padding">
                        <pre class="brush: xml">
<div class="jumbotron">
    <h1>...</h1>
    <p>...</p>
</div>
                        </pre>
                    </div>
                </div>
            </div> <!-- panel show code -->
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
