<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Headers</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Headers</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse in">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li class="active"><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h1 class="page-header no-margin-top">Basic Headers</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quasi ut totam ratione tenetur laboriosam fugit dolorem nihil excepturi dolorum. Excepturi, optio provident rem eius! Repellendus, sunt, dolores aliquid repellat unde cumque architecto esse debitis ipsam facere eligendi fugiat placeat.</p>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Normal Headers</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, qui quam ratione voluptatem necessitatibus veritatis libero non autem aspernatur mollitia ipsam neque quod consequatur.</p>
                        <h1>Header level One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsam nesciunt cupiditate illum earum ipsam neque quod consequatur veritatis odio cumque sapiente tenetur earum doloribus minima.</p>
                        <h2>Header level Two</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, dicta, at et ipsam neque quod consequatur ad blanditiis odio quasi!</p>
                        <h3>Header level Three</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sapiente tenetur earum doloribus minima eius impedit incidunt error officia neque.</p>
                        <h4>Header level Four</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, perspiciatis ipsam neque quod consequatur odit cumque impedit incidunt error officia neque.</p>
                        <h5>Header level Five</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nemo ex eos nam aliquam veritatis ipsam neque quod consequatur odio odit cumque reprehenderit impedit incidunt error officia neque.</p>
                        <h6>Header level Six</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus veritatis odio ipsa deserunt nemo ex eos nam aliquam deleniti sapiente tenetur earum doloribus minima.</p>

                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body panel-body-no-padding">
                                    <pre class="brush: xml">
<h1>...</h1>
<h2>...</h2>
<h3>...</h3>
<h4>...</h4>
<h5>...</h5>
<h6>...</h6>
                                    </pre>
                                </div>
                            </div>
                        </div> <!-- panel show code -->
                    </div>
                    <div class="col-md-12">
                        <h2 class="section-title">Section Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex corrupti deserunt aperiam est maiores perspiciatis impedit incidunt error officia neque.</p>
                        <h1 class="section-title">Header level One</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsam nesciunt cupiditate illum earum cumque.</p>
                        <h2 class="section-title">Header level Two</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, dicta, at et ipsam neque quod</p>
                        <h3 class="section-title">Header level Three</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sapiente tenetur earum doloribus minima eius.</p>
                        <h4 class="section-title">Header level Four</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, perspiciatis odit.</p>
                        <h5 class="section-title">Header level Five</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nemo ex eos nam aliquam.</p>
                        <h6 class="section-title">Header level Six</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus veritatis odio ipsa.</p>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-link">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body panel-body-no-padding">
                                    <pre class="brush: xml">
<h1 class="section-title">...</h1>
<h2 class="section-title">...</h2>
<h3 class="section-title">...</h3>
<h4 class="section-title">...</h4>
<h5 class="section-title">...</h5>
<h6 class="section-title">...</h6>
                                    </pre>
                                </div>
                            </div>
                        </div> <!-- panel show code -->
                    </div>
                </div>
            </section>
            <section class="css-section">
                <h2 class="section-title">Page Header</h2>
                <h1 class="page-header">Page Header Example <small>Secondary Text Example</small></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, minus, similique, temporibus ipsam hic expedita quidem necessitatibus debitis reiciendis quod perspiciatis nulla soluta in assumenda laboriosam quo sequi dolorem dignissimos.</p>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<h1 class="page-header">Text <small>secondary text</small></h1>
<h2 class="page-header">Text <small>secondary text</small></h2>
<h3 class="page-header">Text <small>secondary text</small></h3>
<h4 class="page-header">Text <small>secondary text</small></h4>
<h5 class="page-header">Text <small>secondary text</small></h5>
<h6 class="page-header">Text <small>secondary text</small></h6>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
            <section class="css-section">
                <h2 class="section-title">Right Line</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex corrupti deserunt aperiam est maiores perspiciatis impedit incidunt error officia neque.</p>
                <h1 class="right-line">Header level One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsam nesciunt cupiditate illum earum cumque.</p>
                <h2 class="right-line">Header level Two</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, dicta, at et ipsam neque quod</p>
                <h3 class="right-line">Header level Three</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sapiente tenetur earum doloribus minima eius.</p>
                <h4 class="right-line">Header level Four</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, perspiciatis odit.</p>
                <h5 class="right-line">Header level Five</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nemo ex eos nam aliquam.</p>
                <h6 class="right-line">Header level Six</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus veritatis odio ipsa.</p>
                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<h1 class="right-line">...</h1>
<h2 class="right-line">...</h2>
<h3 class="right-line">...</h3>
<h4 class="right-line">...</h4>
<h5 class="right-line">...</h5>
<h6 class="right-line">...</h6>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
