<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Forms</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">CSS</a></li>
            <li class="active">Forms</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li class="active">
                    <a data-toggle="collapse" href="#coll-css"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse in">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li class="active"><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Forms Examples</h2>

                <div class="panel panel-primary">
                    <div class="panel-heading">Inline Form</div>
                    <div class="panel-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Check me out
                            </label>
                          </div>
                          <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->

                <hr class="dotted">

                <div class="panel panel-primary">
                    <div class="panel-heading">Basic Form</div>
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember me
                            </label>
                          </div>
                          <button type="submit" class="btn btn-ar btn-primary">Sign in</button>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->

                <hr class="dotted">

                <div class="panel panel-primary">
                    <div class="panel-heading">Horizontal Form</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Remember me
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-ar btn-primary">Sign in</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->

                <hr class="dotted">

                <div class="panel panel-primary">
                    <div class="panel-heading">Controls</div>
                    <div class="panel-body">
                        <form role="form">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Check me out
                            </label>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Textarea</label>
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                          <div class="form-group">
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                              </label>
                          </div>
                          <div class="form-group">
                            <label for="select">Selects</label>
                              <select class="form-control" id="select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                          </div>

                          <div class="form-group">
                            <label for="multiple-select">Multiple Select</label>
                              <select multiple class="form-control" id="multiple-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                          </div>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Option one is this and that&mdash;be sure to include why it's great
                            </label>
                          </div>

                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                              Option one is this and that&mdash;be sure to include why it's great
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                              Option two can be something else and selecting it will deselect option one
                            </label>
                          </div>
                          <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                          <button type="cancel" class="btn btn-ar btn-default">Cancel</button>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->

                <hr class="dotted">

                <div class="panel panel-primary">
                    <div class="panel-heading">Diseable Form</div>
                    <div class="panel-body">
                        <form role="form">
                          <fieldset disabled>
                            <div class="form-group">
                              <label for="disabledTextInput">Disabled input</label>
                              <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                            </div>
                            <div class="form-group">
                              <label for="disabledSelect">Disabled select menu</label>
                              <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                              </select>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> Can't check this
                              </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                          </fieldset>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->

                <hr class="dotted">

                <div class="panel panel-primary">
                    <div class="panel-heading">Colors and icons</div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group has-success">
                              <label class="control-label" for="inputSuccess1">Input with success</label>
                              <input type="text" class="form-control" id="inputSuccess1">
                            </div>
                            <div class="form-group has-warning">
                              <label class="control-label" for="inputWarning1">Input with warning</label>
                              <input type="text" class="form-control" id="inputWarning1">
                            </div>
                            <div class="form-group has-error">
                              <label class="control-label" for="inputError1">Input with error</label>
                              <input type="text" class="form-control" id="inputError1">
                            </div>
                            <div class="form-group has-success has-feedback">
                              <label class="control-label" for="inputSuccess2">Input with success</label>
                              <input type="text" class="form-control" id="inputSuccess2">
                              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div class="form-group has-warning has-feedback">
                              <label class="control-label" for="inputWarning2">Input with warning</label>
                              <input type="text" class="form-control" id="inputWarning2">
                              <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            </div>
                            <div class="form-group has-error has-feedback">
                              <label class="control-label" for="inputError2">Input with error</label>
                              <input type="text" class="form-control" id="inputError2">
                              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </form>
                    </div>
                </div> <!-- panel panel-primary -->
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
