<!-- build:include layout/header.html --><!-- /build -->

<div class="container margin-top">
    <div class="row">
        <div class="col-md-9">
            <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="<%= assets %>img/demo/n1.jpg" alt="First slide image">
                    <div class="carousel-caption carousel-caption-dark animated fadeInUpBig">
                        <h3><a href="#">The last news title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque aliquid, asperiores sequi corrupti laborum inventore itaque ipsum tempora iusto maiores sed illo sint repellat omnis aperiam dolore. Numquam minima alias.</p>
                    </div>
                    </div>
                    <div class="item">
                    <img src="<%= assets %>img/demo/n1.jpg" alt="Second slide image">
                    <div class="carousel-caption carousel-caption-dark animated fadeInUpBig">
                        <h3><a href="#">This is a news title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    </div>
                    <div class="item">
                    <img src="<%= assets %>img/demo/n1.jpg" alt="Third slide image">
                    <div class="carousel-caption carousel-caption-dark animated fadeInUpBig">
                        <h3><a href="#">Other last news title</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae iste doloribus exercitationem in sit optio similique quia quos minus reprehenderit?</p>
                    </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- carousel -->
            <div class="row margin-top">
                <div class="col-sm-6">
                    <img src="<%= assets %>img/demo/office3.jpg" alt="" class="img-responsive">
                    <h4 class="strong"><a href="#">Velit obcaecati veritatis excepturi aliquid ullam</a></h4>
                    <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illum, odio repellat excepturi veritatis, quidem, labore quae sint delectus tenetur et mollitia officia pariatur at vitae harum consequuntur tempore iure.</p>
                </div>
                <div class="col-sm-6">
                    <img src="<%= assets %>img/demo/office2.jpg" alt="" class="img-responsive">
                    <h4 class="strong"><a href="#">Velit obcaecati veritatis excepturi aliquid ullam</a></h4>
                    <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illum, odio repellat excepturi veritatis, quidem, labore quae sint delectus tenetur et mollitia officia pariatur at vitae harum consequuntur tempore iure.</p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h5 class="no-margin"><a href="#">Lorem ipsum dolor sit amet elit labore quae sint delectus tenetur</a></h5>
                        <small><a href="#">Jack Nylon</a> | January 20, 2014</small>
                        <div class="video">
                                    <iframe src="http:///player.vimeo.com/video/30196331?title=0&amp;byline=0&amp;portrait=0"></iframe>
                                </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h5 class="no-margin"><a href="#">Velit obcaecati veritatis excepturi aliquid repellat odio ullam</a></h5>
                        <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                        <img src="<%= assets %>img/demo/office4.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h5 class="no-margin"><a href="#">Quia nesciunt deleniti veniam in a blanditis odio repellat excepturi</a></h5>
                        <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                        <img src="<%= assets %>img/demo/office1.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line no-margin-bottom">Browse by Topic</h2>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="<%= assets %>js/holder.js/100x100/social" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
              </div>
            </div>
        </div>
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="section-title">Latest images</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w1.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w2.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w3.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w4.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w5.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w6.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="section-title">Social Media</h2>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-ar">
              <li class="active"><a href="#home3" data-toggle="tab"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#profile3" data-toggle="tab"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#messages3" data-toggle="tab"><i class="fa fa-rss"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home3">
                  <p class="small"><a href="#">@areason</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="http://goo.gl/rMZhoY">http://goo.gl/rMZhoY</a></p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">@areason</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima pariatur perferendis eaque quidem sunt excepturi.</p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">@areason</a>architecto asperiores eaque quidem ullam dolores consequatur.</p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">@areason</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima pariatur perferendis eaque quidem sunt excepturi.</p>
              </div>
              <div class="tab-pane" id="profile3">
                  <p><strong>Put here your facebook widget!</strong></p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores unde consequatur architecto deserunt nam veritatis accusantium maiores eos neque, blanditiis quibusdam sapiente tempora saepe quas impedit cumque dolorem, perferendis nobis?</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum, eaque nostrum. Illo iusto sed voluptatum.</p>
              </div>
              <div class="tab-pane" id="messages3">
                  <p class="small"><a href="#">Eum, voluptatum! Quam ipsum, quidem ullam aliquam ipsa aspernatur</a> 21/04/14</p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">Amet aperiam error, sapiente corrupti, pariatur perferendis dolor eligendi</a> 17/10/13</p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">Distinctio autem perspiciatis, officiis eaque nostrum eveniet beatae odit</a> 7/10/13</p>
                  <hr class="dotted margin-small">
                  <p class="small"><a href="#">Doloremque possimus praesentium quae consectetur molestiae esse, quasi</a> 19/09/13</p>
              </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
