<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Social Icons</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Icons</a></li>
            <li class="active">Social Icons</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li class="active"><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a data-toggle="collapse" href="#coll-icons"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse in">
                        <li><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li class="active"><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <section class="css-section">
                <h2 class="section-title no-margin-top">Social Icons</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Basic Icons</h3>
                        <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="social-icon-ar git"><i class="fa fa-git"></i></a>
                        <a href="#" class="social-icon-ar git"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon-ar git"><i class="fa fa-github-alt"></i></a>
                        <a href="#" class="social-icon-ar google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="social-icon-ar stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="social-icon-ar foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="social-icon-ar tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                    <div class="col-md-6">
                        <h3>Round Icons</h3>
                        <a href="#" class="social-icon-ar round rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="social-icon-ar round facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar round twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar round pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar round instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar round youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="social-icon-ar round git"><i class="fa fa-git"></i></a>
                        <a href="#" class="social-icon-ar round git"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon-ar round git"><i class="fa fa-github-alt"></i></a>
                        <a href="#" class="social-icon-ar round google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar round wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="social-icon-ar round linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar round flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="social-icon-ar round vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="social-icon-ar round dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="social-icon-ar round stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="social-icon-ar round foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="social-icon-ar round tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Small Icons</h3>
                        <a href="#" class="social-icon-ar sm rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="social-icon-ar sm facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="social-icon-ar sm git"><i class="fa fa-git"></i></a>
                        <a href="#" class="social-icon-ar sm git"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon-ar sm git"><i class="fa fa-github-alt"></i></a>
                        <br>
                        <a href="#" class="social-icon-ar sm google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="social-icon-ar sm vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="social-icon-ar sm dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="social-icon-ar sm stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="social-icon-ar sm foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="social-icon-ar sm tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                    <div class="col-md-6">
                        <h3>Circle Icons</h3>
                        <a href="#" class="social-icon-ar circle rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="social-icon-ar circle facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar circle twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar circle pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar circle instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar circle youtube"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="social-icon-ar circle git"><i class="fa fa-git"></i></a>
                        <a href="#" class="social-icon-ar circle git"><i class="fa fa-github"></i></a>
                        <a href="#" class="social-icon-ar circle git"><i class="fa fa-github-alt"></i></a>
                        <a href="#" class="social-icon-ar circle google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar circle wordpress"><i class="fa fa-wordpress"></i></a>
                        <a href="#" class="social-icon-ar circle linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar circle flickr"><i class="fa fa-flickr"></i></a>
                        <a href="#" class="social-icon-ar circle vine"><i class="fa fa-vine"></i></a>
                        <a href="#" class="social-icon-ar circle dribbble"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="social-icon-ar circle stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                        <a href="#" class="social-icon-ar circle foursquare"><i class="fa fa-foursquare"></i></a>
                        <a href="#" class="social-icon-ar circle tumblr"><i class="fa fa-tumblr"></i></a>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
<a href="#" class="social-icon-ar round rss"><i class="fa fa-rss"></i></a>
<a href="#" class="social-icon-ar sm rss"><i class="fa fa-rss"></i></a>
<a href="#" class="social-icon-ar circle rss"><i class="fa fa-rss"></i></a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <div class="alert alert-royal alert-border">
                <i class="fa fa-info"></i> If you need social buttons are here: <a href="btn_social_buttons.html">Social Buttons</a>.
            </div>

            <section class="css-section">

                <h2 class="section-title">Alternative Social Icons</h2>


                <a href="#" class="social social-facebook" title="Facebook"></a>
                <a href="#" class="social social-twitter" title="Twitter"></a>
                <a href="#" class="social social-google" title="Google+"></a>
                <a href="#" class="social social-myspace" title="Myspace"></a>
                <a href="#" class="social social-instagram" title="Instagram"></a>
                <a href="#" class="social social-linkedin" title="RSS Feed"></a>
                <a href="#" class="social social-vimeo" title="Last.fm"></a>
                <a href="#" class="social social-youtube" title="Vimeo"></a>
                <a href="#" class="social social-dribbble" title="YouTube"></a>
                <a href="#" class="social social-forrst" title="Dribbble"></a>
                <a href="#" class="social social-stumbleupon" title="Forrst"></a>
                <a href="#" class="social social-pinterest" title="Gowalla"></a>
                <a href="#" class="social social-blogger" title="Skype"></a>
                <a href="#" class="social social-yahoo" title="Tumblr"></a>
                <a href="#" class="social social-evernote" title="Wordpress"></a>
                <a href="#" class="social social-wordpress" title="Blogger"></a>
                <a href="#" class="social social-foursquare" title="Digg"></a>
                <a href="#" class="social social-lastfm" title="Stumbleupon"></a>
                <a href="#" class="social social-behance" title="Pinterest"></a>
                <a href="#" class="social social-tumblr" title="Flickr"></a>
                <a href="#" class="social social-feed" title="Yahoo!"></a>
                <a href="#" class="social social-skype" title="DeviantArt"></a>
                <a href="#" class="social social-email" title="Behance"></a>
                <a href="#" class="social social-sharethis" title="ShareThis"></a>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<a href="#" class="social social-facebook" title="Facebook"></a>
<a href="#" class="social social-twitter" title="Twitter"></a>
<a href="#" class="social social-google" title="Google+"></a>
<a href="#" class="social social-myspace" title="Myspace"></a>
<a href="#" class="social social-instagram" title="Instagram"></a>
<a href="#" class="social social-linkedin" title="RSS Feed"></a>
<a href="#" class="social social-vimeo" title="Last.fm"></a>
<a href="#" class="social social-youtube" title="Vimeo"></a>
<a href="#" class="social social-dribbble" title="YouTube"></a>
<a href="#" class="social social-forrst" title="Dribbble"></a>
<a href="#" class="social social-stumbleupon" title="Forrst"></a>
<a href="#" class="social social-pinterest" title="Gowalla"></a>
<a href="#" class="social social-blogger" title="Skype"></a>
<a href="#" class="social social-yahoo" title="Tumblr"></a>
<a href="#" class="social social-evernote" title="Wordpress"></a>
<a href="#" class="social social-wordpress" title="Blogger"></a>
<a href="#" class="social social-foursquare" title="Digg"></a>
<a href="#" class="social social-lastfm" title="Stumbleupon"></a>
<a href="#" class="social social-behance" title="Pinterest"></a>
<a href="#" class="social social-tumblr" title="Flickr"></a>
<a href="#" class="social social-feed" title="Yahoo!"></a>
<a href="#" class="social social-skype" title="DeviantArt"></a>
<a href="#" class="social social-email" title="Behance"></a>
<a href="#" class="social social-sharethis" title="ShareThis"></a>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
