<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Artificial Reason Icons</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">UI Elements</a></li>
            <li><a href="#">Icons</a></li>
            <li class="active">Artificial Reason Icons</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidebar-nav animated fadeIn">
                <li>
                    <a data-toggle="collapse" href="#coll-css" class="collapsed"><i class="fa fa-css3"></i> CSS</a>
                    <ul id="coll-css" class="menu-submenu list-unstyled collapse">
                        <li><a href="css_typography.html"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="css_headers.html"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="css_dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a></li>
                        <li><a href="css_blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>
                        <li><a href="css_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
                        <li><a href="css_tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-btn" class="collapsed"><i class="fa fa-hand-o-up"></i> Buttons</a>
                    <ul id="coll-btn" class="menu-submenu list-unstyled collapse">
                        <li><a href="btn_basic_buttons.html"><i class="fa fa-arrow-circle-right"></i> Basic Buttons</a></li>
                        <li><a href="btn_library_buttons.html"><i class="fa fa-arrow-circle-right"></i> Buttons Library</a></li>
                        <li><a href="btn_social_buttons.html"><i class="fa fa-arrow-circle-right"></i> Social Buttons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-icons" class="collapsed"><i class="fa fa-briefcase"></i> Icons</a>
                    <ul id="coll-icons" class="menu-submenu list-unstyled collapse in">
                        <li class="active"><a href="icons_artificial_reason.html"><i class="fa fa-font"></i> Artificial Reason Icons</a></li>
                        <li><a href="icons_glyph.html"><i class="fa fa-arrow-circle-right"></i> Glyphicons Icons</a></li>
                        <li><a href="icons_awesome.html"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="icons_social.html"><i class="fa fa-twitter"></i> Social Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" href="#coll-comp" class="collapsed"><i class="fa fa-list-alt"></i> Components</a>
                    <ul id="coll-comp" class="menu-submenu list-unstyled collapse">
                        <li><a href="components_dropdowns.html"><i class="fa fa-arrow-circle-right"></i> Components Dropdowns</a></li>
                        <li><a href="components_panels.html"><i class="fa fa-arrow-circle-right"></i> Panels</a></li>
                        <li><a href="components_lists.html"><i class="fa fa-arrow-circle-right"></i> Lists</a></li>
                        <li><a href="components_paginations.html"><i class="fa fa-arrow-circle-right"></i> Paginations</a></li>
                        <li><a href="components_labels_badges.html"><i class="fa fa-arrow-circle-right"></i> Labels and Badges</a></li>
                        <li><a href="components_alerts_wells.html"><i class="fa fa-arrow-circle-right"></i> Alerts and Wells</a></li>
                        <li><a href="components_thumbnails.html"><i class="fa fa-arrow-circle-right"></i> Thumbnails</a></li>
                        <li><a href="components_modals.html"><i class="fa fa-arrow-circle-right"></i> Modals</a></li>
                        <li><a href="components_progress_bars.html"><i class="fa fa-arrow-circle-right"></i> Progress Bars</a></li>
                        <li><a href="components_tooltip_popover.html"><i class="fa fa-arrow-circle-right"></i> Tooltip &amp; Popover</a></li>
                    </ul>
                </li>
                <li><a href="collapses_tabs.html"  class="collapsed"><i class="fa fa-tasks"></i> Collapses &amp; Tabs</a></li>
                <li><a href="content_box.html"  class="collapsed"><i class="fa fa-list-alt"></i> Contents Box</a></li>
                <li><a href="carousels.html"  class="collapsed"><i class="fa fa-play-circle"></i> Carousels</a></li>
                <li><a href="charts.html"  class="collapsed"><i class="fa fa-tachometer"></i> Charts &amp; CountDowns</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h2 class="section-title no-margin-top">Artificial Reason Icons</h2>
            <div class="alert alert-info alert-border">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-flag"></i> You can use any icon of <strong><a href="icons_awesome.html">Awesome Font</a></strong> or <strong><a href="icons_glyph.html">Glyphicons</a></strong> to create Artificial Reason Icons!
                </div>
            <section class="css-section">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3>Normal Icons</h3>
                        <span class="icon-ar"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar"><i class="fa fa-send"></i></span>
                        <span class="icon-ar"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Inverse Icons</h3>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Round Icons</h3>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-round"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Round Inverse</h3>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-inverse"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-round"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3>Square Icons</h3>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-square"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Square Inverse</h3>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Circle Icons</h3>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>Circle Inverse</h3>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-square icon-ar-inverse"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-circle"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-circle icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <h3>Small Icons</h3>
                        <span class="icon-ar icon-ar-sm icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-sm icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-sm"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-sm icon-ar-circle"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-sm"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-circle"><i class="fa fa-globe"></i></span>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <h3>Large Icons</h3>
                        <span class="icon-ar icon-ar-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<!-- Small Icons -->
<span class="icon-ar icon-ar-sm icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-sm icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-sm"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-sm icon-ar-circle"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-sm"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-sm icon-ar-circle"><i class="fa fa-globe"></i></span>

<!-- Large Icons -->
<span class="icon-ar icon-ar-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-12">
                        <h3>XL Large Icons</h3>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-square icon-ar-danger"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-round icon-ar-warning"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-success"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-xl-lg icon-ar-circle icon-ar-help"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-square icon-ar-info"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-round icon-ar-help"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-warning"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-circle icon-ar-success"><i class="fa fa-globe"></i></span>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar icon-ar-xl-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-round"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-circle"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-square icon-ar-danger"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-round icon-ar-warning"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-success"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-xl-lg icon-ar-circle icon-ar-help"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-square icon-ar-info"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-round icon-ar-help"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-warning"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-xl-lg icon-ar-circle icon-ar-success"><i class="fa fa-globe"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->

                <div class="row">
                    <div class="col-md-6">
                        <h3>Color Icons</h3>
                        <span class="icon-ar icon-ar-danger"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-warning"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-success"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-info"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-help"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-black"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-round icon-ar-danger"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-warning"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-success"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-info"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-help"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-black"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-square icon-ar-danger"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-warning"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-success"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-info"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-help"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-black"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-circle icon-ar-danger"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-warning"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-success"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-info"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-help"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-black"><i class="fa fa-user"></i></span>
                    </div>

                    <div class="col-md-6">
                        <h3>Inverse Color Icons</h3>
                        <span class="icon-ar icon-ar-danger icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-warning icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-success icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-info icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-help icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-black icon-ar-inverse"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-round icon-ar-danger icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-warning icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-success icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-info icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-help icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-round icon-ar-black icon-ar-inverse"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-square icon-ar-danger icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-warning icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-success icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-info icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-help icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-square icon-ar-black icon-ar-inverse"><i class="fa fa-user"></i></span>
                        <br>
                        <span class="icon-ar icon-ar-circle icon-ar-danger icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-warning icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-success icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-info icon-ar-inverse"><i class="fa fa-globe"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-help icon-ar-inverse"><i class="fa fa-send"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-black icon-ar-inverse"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar icon-ar-danger"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-warning"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-success"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-info"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-help"><i class="fa fa-send"></i></span>
<span class="icon-ar icon-ar-black"><i class="fa fa-user"></i></span>

<!-- Inverse -->
<span class="icon-ar icon-ar-danger icon-ar-inverse"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-warning icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
<span class="icon-ar icon-ar-success icon-ar-inverse"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-info icon-ar-inverse"><i class="fa fa-globe"></i></span>
<span class="icon-ar icon-ar-help icon-ar-inverse"><i class="fa fa-send"></i></span>
<span class="icon-ar icon-ar-black icon-ar-inverse"><i class="fa fa-user"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">

                <h3>White Icons for Darks Backgrounds</h3>

                <div class="wrap-primary-color lateral-padding">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="no-margin-top">Normal Icons</h3>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="no-margin-top">Inverse Icons</h3>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="no-margin-top">Round Icons</h3>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="no-margin-top">Round Inverse</h3>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-user"></i></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3>Square Icons</h3>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Square Inverse</h3>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Circle Icons</h3>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Circle Inverse</h3>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-tachometer"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-globe"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-send"></i></span>
                            <span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                </div>

                <hr class="dotted">

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar icon-ar-white"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-inverse"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-round"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-round icon-ar-inverse"><i class="fa fa-cloud"></i></span>

<span class="icon-ar icon-ar-white icon-ar-square"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-square icon-ar-inverse"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-circle"><i class="fa fa-cloud"></i></span>
<span class="icon-ar icon-ar-white icon-ar-circle icon-ar-inverse"><i class="fa fa-cloud"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>

            <section class="css-section">

                <h3>Examples Size Icons</h3>
                <div class="row">
                    <div class="col-md-4">
                        <span class="icon-ar icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-sm"><i class="fa fa-coffee"></i></span>
                    </div>
                    <div class="col-md-4">
                        <span class="icon-ar icon-ar-inverse icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-inverse icon-ar-sm"><i class="fa fa-coffee"></i></span>
                    </div>
                    <div class="col-md-4">
                        <span class="icon-ar icon-ar-circle icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-lg"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle"><i class="fa fa-coffee"></i></span>
                        <span class="icon-ar icon-ar-circle icon-ar-sm"><i class="fa fa-coffee"></i></span>
                    </div>
                </div>

                <hr>

                <!-- Panel Code -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed"><i class="fa fa-terminal"></i> Show Code</a>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body panel-body-no-padding">
                            <pre class="brush: xml">
<span class="icon-ar icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-sm"><i class="fa fa-coffee"></i></span>

<span class="icon-ar icon-ar-inverse icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-inverse icon-ar-sm"><i class="fa fa-coffee"></i></span>

<span class="icon-ar icon-ar-circle icon-ar-xl-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-circle icon-ar-lg"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-circle"><i class="fa fa-coffee"></i></span>
<span class="icon-ar icon-ar-circle icon-ar-sm"><i class="fa fa-coffee"></i></span>
                            </pre>
                        </div>
                    </div>
                </div> <!-- panel show code -->
            </section>
        </div>
    </div>
</div>

<!-- build:include layout/footer.html --><!-- /build -->
