<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Login and Register</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Form</a></li>
            <li class="active">Login and Register</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="section-title no-margin-top">Create Account</h2>
            <div class="panel panel-success-dark animated fadeInDown">
                <div class="panel-heading">Register Form</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="InputUserName">User Name<sup>*</sup></label>
                            <input type="text" class="form-control" id="InputUserName">
                        </div>
                        <div class="form-group">
                            <label for="InputFirstName">First Name</label>
                            <input type="text" class="form-control" id="InputFirstName">
                        </div>
                        <div class="form-group">
                            <label for="InputLastName">Last Name</label>
                            <input type="text" class="form-control" id="InputLastName">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email<sup>*</sup></label>
                            <input type="email" class="form-control" id="InputEmail">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputPassword">Password<sup>*</sup></label>
                                    <input type="password" class="form-control" id="InputPassword">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputConfirmPassword">Confirm Password<sup>*</sup></label>
                                    <input type="password" class="form-control" id="InputConfirmPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> I read <a href="#">Terms and Conditions</a>.
                                </label>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-ar btn-primary pull-right">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-5">
            <h2 class="section-title no-margin-top">Are you registered?</h2>
            <div class="panel panel-primary animated fadeInDown animation-delay-2">
                <div class="panel-heading">Login Form</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                            <a href="#" class="social-icon-ar sm twitter animated fadeInDown animation-delay-3"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="social-icon-ar sm google-plus animated fadeInDown animation-delay-4"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="social-icon-ar sm facebook animated fadeInDown animation-delay-5"><i class="fa fa-facebook"></i></a>
                            <hr>
                            <a href="#" class="btn btn-ar btn-success pull-right">Create Account</a>
                            <a href="#" class="btn btn-ar btn-warning">Password Recovery</a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container  -->

<!-- build:include layout/footer.html --><!-- /build -->
