<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Our Clients</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Bussiness & Products</a></li>
            <li class="active">Our Clients</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/intel.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Intel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/microsoft.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Microsoft</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/nokia.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Nokia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/sony.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Sony</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/samsung.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Samsung</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
            <div class="media">
              <a class="thumbnail pull-left" href="#">
                <img class="media-object" src="<%= assets %>img/demo/maxis.png" alt="...">
              </a>
              <div class="media-body">
                <h2 class="media-heading">Maxis</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum cum tempora officiis iusto nobis deserunt. Esse error molestiae iste a explicabo suscipit fugit atque quisquam temporibus reiciendis ratione repellat quo accusantium dicta, dignissimos sequi in modi nesciunt, expedita omnis natus. Id qui neque, at autem mollitia commodi earum, suscipit, provident aut nihil.</p>
                <p><strong>Website:</strong> <a href="#">www.example.com</a></p>
              </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
