<!-- build:include layout/header.html --><!-- /build -->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Portfolio sidebar filters</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">Portfolio</a></li>
            <li class="active">Portfolio sidebar filters</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="portfolio-menu">
                <h3><i class="fa fa-desktop"></i> Display options</h3>
                <h4><i class="fa fa-folder-open-o"></i> Categories</h4>
                <ul class="portfolio-cats">
                    <li><span class="filter" data-filter="all" class="active">All</span></li>
                    <li><span class="filter" data-filter=".category-1">Web Desing</span></li>
                    <li><span class="filter" data-filter=".category-2">Game Engines</span></li>
                    <li><span class="filter" data-filter=".category-3">Users interfaces</span></li>
                    <li><span class="filter" data-filter=".category-4">Wordpress</span></li>
                    <li><span class="filter" data-filter=".category-5">Themes</span></li>
                    <li><span class="filter" data-filter=".category-6">Others</span></li>
                </ul>
                <h4><i class="fa fa-th"></i> Columns</h4>
                <ul class="portfolio-cols">
                    <li><a href="javascript:void(0);" id="Cols1">1</a></li>
                    <li><a href="javascript:void(0);" id="Cols2">2</a></li>
                    <li><a href="javascript:void(0);" id="Cols3" class="active">3</a></li>
                    <li><a href="javascript:void(0);" id="Cols4">4</a></li>
                </ul>
                <div class="clearfix"></div>
                <h4><i class="fa fa-align-justify"></i> Show description</h4>
                <ul class="portfolio-desc">
                    <li><a href="javascript:void(0);" id="port-show">Show</a></li>
                    <li><a href="javascript:void(0);" id="port-hide" class="active">Hide</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div> <!-- col-md-3 -->
        <div class="col-md-9">
            <div class="row" id="Container">
                <div class="mix category-1 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img01.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, quod?</p>
                    </div>
                </div>
                <div class="mix category-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img02.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, delectus!</p>
                    </div>
                </div>
                <div class="mix category-1 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img03.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, tenetur.</p>
                    </div>
                </div>
                <div class="mix category-2 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img04.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, doloremque?</p>
                    </div>
                </div>
                <div class="mix category-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img05.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, nobis.</p>
                    </div>
                </div>
                <div class="mix category-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img06.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, voluptas.</p>
                    </div>
                </div>
                <div class="mix category-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img07.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quo.</p>
                    </div>
                </div>
                <div class="mix category-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img08.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, itaque?</p>
                    </div>
                </div>
                <div class="mix category-2 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img09.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img10.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-6 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img11.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-6 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img12.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img13.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img14.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-2 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img15.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-2 category-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img16.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-1 category-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img17.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-4 category-1 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img18.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-6 category-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img19.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-1 category-2 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img20.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-5 category-1  col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img21.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-2 category-5 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img22.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-3 category-1 category-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img23.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
                <div class="mix category-2 col-md-4 col-sm-6 col-xs-12">
                    <a href="#" class="thumbnail">
                        <img src="<%= assets %>img/demo/img24.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="portfolio-item-caption hide">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit!</p>
                    </div>
                </div>
            </div>
        </div> <!-- col-md-9 -->
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/widgets.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- boxed -->
</div> <!-- sb-site -->

<!-- build:include layout/footer/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/totop.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>js/portfolio.js"></script>

</body>

</html>
