<div class="container header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-click="logout()" href="#">Logout</a></li>
    </ul>
    <h3 class="text-muted">Agent Newsletter</h3>
</div>
<div>
    <div cg-busy="myPromiseAgency"></div>
    <div class="panel panel-default" style="background: #eee">
        <div class="jumbotron" style="min-height: 48px;background: none">
            <div class="row" ng-show="agency">
                <div class="col-md-2">
                    <img ng-src="{{agency.photo}}" style="float: right">
                </div>
                <div ng-class="{'col-md-4': agency.photo && agency.description,'col-md-6': agency.description && !agency.photo,'col-md-12': !agency.description  }">
                    <img ng-src="{{agency.logo}}">
                    <h2>{{agency.name}}</h2>
                    <p>
                        {{agency.address}}<br>{{agency.phone}}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>   {{agency.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Embedded Sign Up Forms</h2>
                <h4>{{formType}}</h4>                
                <hr>
                <p>
                    Add one of these forms to your website to allows users to sign up to your mailing address!
                    Simply select which form you would like to use and copy/paste the required code onto your page
                    where you would like the form to appear.
                </p>
                <!-- Start Static Form -->
                <link rel="stylesheet" href="forms/rl-signup-static.css">
                <h3>Static Form</h3>
                <hr>
                <form class="rl-form-signup-static" role="form" target="_blank"
                      action="/agencies/addSubscriber/"
                      method="post">
                    <h2 class="rl-form-signup-heading-static">Subscribe</h2>
                    <input type="email" name="user[email]" class="rl-form-control-static"
                           placeholder="Email address *"
                           required autofocus>
                    <input type="name" name="user[name]" class="rl-form-control-static" placeholder="Name *"
                           required>
                    <input type="hidden" name="user[type]" value="{{subscribeType}}" required>
                    <input type="hidden" name="agencyId" value="{{agency.agencyId}}" required>
                    <button class="rl-btn-static" type="submit">Subscribe</button>
                </form>
                <h4>Copy/paste onto your site where you would like this form to appear</h4>
                <pre>
&lt;div id=&quot;rl-div-signup-static&quot;&gt;&lt;link rel=&quot;stylesheet&quot; href=&quot;http://{{host}}/forms/rl-signup-static.css&quot;&gt;&lt;form class=&quot;rl-form-signup-static&quot; target=&quot;_blank&quot; role=&quot;form&quot; action=&quot;http://{{host}}/agencies/addSubscriber/&quot; method=&quot;post&quot;&gt; &lt;h2 class=&quot;rl-form-signup-heading-static&quot;&gt;Subscribe&lt;/h2&gt; &lt;input type=&quot;email&quot; name=&quot;user[email]&quot; class=&quot;rl-form-control-static&quot; placeholder=&quot;Email address *&quot; required autofocus&gt; &lt;input type=&quot;name&quot; name=&quot;user[name]&quot; class=&quot;rl-form-control-static&quot; placeholder=&quot;Name *&quot; required&gt; &lt;input type=&quot;hidden&quot; name=&quot;user[type]&quot; value=&quot;{{subscribeType}}&quot; required&gt; &lt;input type=&quot;hidden&quot; name=&quot;agencyId&quot; value=&quot;{{agency.agencyId}}&quot; required&gt; &lt;button class=&quot;rl-btn-static&quot; type=&quot;submit&quot;&gt;Subscribe&lt;/button&gt; &lt;/form&gt;&lt;/div&gt;
            </pre>
                <!-- End Static Form -->
                <!-- Start Popup Form -->
                <link rel="stylesheet" href="forms/rl-signup-popup.css">
                <h3>Popup Form</h3>
                <hr>
                <div id="rl-div-signup-popup" name="{{agency.agencyId}}" data-source="http://{{host}}">
                    <button class="rl-btn-popup" style="margin-top:0px" onclick="$('#rl-form-popup').bPopup();">
                        Subscribe To
                        Mailing List
                    </button>
                </div>

                <script>
                    var s = document.createElement('script');
                    s.type = "text/javascript";
                    s.src = "/forms/rl-signup-popup.js";
                    document.getElementById('rl-div-signup-popup').appendChild(s);
                </script>
                <h4>Copy/paste onto your site where you would like this button to appear</h4>
                <pre>
&lt;div id=&quot;rl-div-signup-popup&quot; data-source=&quot;http://{{host}}&quot; data-type=&quot;{{subscribeType}}&quot;  name=&quot;{{agency.agencyId}}&quot;&gt;&lt;link rel=&quot;stylesheet&quot; href=&quot;http://{{host}}/forms/rl-signup-popup.css&quot;&gt;&lt;button class=&quot;rl-btn-popup&quot; onclick=&quot;$('#rl-form-popup').bPopup();&quot; style=&quot;margin-top:0px&quot;&gt;Subscribe To Mailing List&lt;/button&gt;&lt;/div&gt;&lt;script&gt;var s = document.createElement('script'); s.type = &quot;text/javascript&quot;; s.src = &quot;http://{{host}}/forms/rl-signup-popup.js&quot;; document.getElementById('rl-div-signup-popup').appendChild(s);&lt;/script&gt;
            </pre>
            </div>
        </div>
        <!-- End Popup Form -->
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Your Current Newsletter</h2>
                <hr>
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li ng-show="newsletterBuy" ng-class="{active: newsletterBuy}"><a href="#" role="tab" data-toggle="tab" ng-click="changeNewsletter('buy')">Buy</a></li>
                    <li ng-show="newsletterRent"><a href="#" role="tab" data-toggle="tab" ng-click="changeNewsletter('rent')">Rent</a></li>
                    <li ng-show="newsletterComSale" ng-class="{active: !newsletterBuy}"><a href="#" role="tab" data-toggle="tab" ng-click="changeNewsletter('for-sale')">For Sale</a></li>
                    <li ng-show="newsletterComLease"><a href="#" role="tab" data-toggle="tab" ng-click="changeNewsletter('for-lease')">For Lease</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <!--Real Estate Buy Content-->
                        <div cg-busy="myPromiseNewsletter"></div>
                        <div ng-bind-html="newsletter" class="newsletter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>