<toolbar></toolbar>

<div cg-busy="myPromise"></div>
<div class="container">
    <form class="form-signin" role="form">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="email" class="form-control" placeholder="Email Address" required="" autofocus=""
                       ng-model="email">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
            </div>
        </div>
    </form>
</div>