<toolbar></toolbar>
<div class="jumbotron">
    <h1>Register Your Real Estate</h1>

    <p class="lead">In 3 easy steps you'll be ready to offer your customers a free automated newsletter detailing your
        current properties.</p>

</div>

<div cg-busy="myPromise"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Step 1</h3>
            <label>Enter your 6 character agent id</label>
            <hr>
            <input type="text" class="form-control" ng-change="loadAgencyDetails(agencyId)" ng-model="agencyId"
                   placeholder="Agent ID (eg: hyzlyi)">
        </div>
    </div>

    <div class="panel panel-default" ng-show="agency" id="stp2">
        <div class="panel-body">
            <h3>Step 2</h3>
            <label>Confirm your agency</label>
            <hr>
            <div class="well">
                <img ng-src="{{agency.logo}}" style="float: right">

                <h2>{{agency.name}}</h2>

                <p>{{agency.address}}<br>{{agency.phone}}</p>
                <button ng-click="select(agencyId)" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
    <form role="form" name="formRegister" novalidate>
        <div class="panel panel-default" ng-show="selectedAgency" id="stp3">
            <div class="panel-body">
                <h3>Step 3</h3>
                <label>Create Your Account</label>
                <hr>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" ng-model="selectedAgency.email" placeholder="Enter email" required />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="selectedAgency.password" required placeholder="Enter password" />
                </div>
                <button class="btn btn-primary" ng-disabled="formRegister.$invalid" ng-click="register()">Create Account</button>
            </div>
        </div>
    </form>
</div>
<style>
    .cg-busy-backdrop {
        position: fixed !important;
        height: 100% !important;
    }
</style>