<div class="container header">

    <ul class="nav nav-pills pull-right">
        <li ng-class="{active: isActive('/')}"><a ng-href="#" >Register</a></li>
        <li ng-class="{active: isActive('/login')}"><a  ng-href="#/login" >Login</a></li>
        <!--<li><a ng-href="#">Contact</a></li>-->
    </ul>
    <h3 class="text-muted">Agent Newsletter</h3>

</div>